Repository runatlantis/atlantis, pull requests merged in 2021-04, with the labels that each got.

#1469 feat: add new flag --silence-no-projects
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/events/apply_command_runner.go
  server/events/approve_policies_command_runner.go
  server/events/command_runner_test.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/mocks/matchers/ptr_to_models_projectlock.go
  server/events/mocks/mock_delete_lock_command.go
  server/events/plan_command_runner.go
  server/events/policy_check_command_runner.go
  server/events/unlock_command_runner.go
  server/events_controller_e2e_test.go
  server/server.go
  server/user_config.go
Labels: feature

#1357 Delete source branch on merge
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/events/apply_command_runner.go
  server/events/automerger.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/mocks/matchers/models_pullrequestoptions.go
  server/events/models/models.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/azuredevops_client_test.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/bitbucketserver/client_test.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/events/yaml/parser_validator_test.go
  server/events/yaml/raw/global_cfg.go
  server/events/yaml/raw/project.go
  server/events/yaml/raw/repo_cfg.go
  server/events/yaml/valid/global_cfg.go
  server/events/yaml/valid/global_cfg_test.go
  server/events/yaml/valid/repo_cfg.go
  server/events_controller_e2e_test.go
Labels: waiting-on-review

#1512 chore: bump terraform version to latest 0.15.1
  .circleci/config.yml
  Dockerfile
  testing/Dockerfile
Labels: waiting-on-response
