Repository runatlantis/atlantis, pull requests merged in 2022-03, with the labels that each got.

#2101 fix(docker): download Terraform and conftest versions maching image architecture
  Dockerfile
Labels: docker-multi-platform

#2102 ci: drop circleci docker hub update
  .circleci/config.yml
Labels: docker-multi-platform

#2106 fix(docker): fix docker runtime issue
  Dockerfile
  docker-base/Dockerfile
Labels: docker-multi-platform

#2034 fix(bitbucketcloud)!: Use AccountID as username instead of Nickname
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/testdata/bitbucket-cloud-comment-event.json
  server/events/testdata/bitbucket-cloud-pull-event-updated.json
  server/events/vcs/bitbucketcloud/models.go
  server/events/vcs/bitbucketcloud/testdata/pull-approved-by-author.json
  server/events/vcs/bitbucketcloud/testdata/pull-approved-multiple.json
  server/events/vcs/bitbucketcloud/testdata/pull-approved.json
  server/events/vcs/bitbucketcloud/testdata/pull-unapproved.json
Labels: provider/bitbucketcloud

#2120 fix(gitlab): update tests
  server/events/vcs/gitlab_client_test.go
Labels: provider/gitlab
