Repository runatlantis/atlantis, pull requests merged in 2022-09, with the labels that each got.

#2479 Use proper http client for github v4 api
  server/events/vcs/github_client.go
Labels: bug, waiting-on-review

#2491 External Locking DB: Redis
  .gitignore
  CONTRIBUTING.md
  cmd/server.go
  cmd/server_test.go
  docker-compose.yml
  go.mod
  go.sum
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/jobs_controller.go
  server/controllers/locks_controller.go
  server/controllers/locks_controller_test.go
  server/core/locking/locking.go
  server/core/locking/mocks/matchers/command_name.go
  server/core/locking/mocks/matchers/locking_applycommandlock.go
  server/core/locking/mocks/matchers/locking_trylockresponse.go
  server/core/locking/mocks/matchers/map_of_string_to_models_projectlock.go
  server/core/locking/mocks/matchers/models_project.go
  server/core/locking/mocks/matchers/models_projectlock.go
  server/core/locking/mocks/matchers/models_projectplanstatus.go
  server/core/locking/mocks/matchers/models_pullrequest.go
  server/core/locking/mocks/matchers/models_pullstatus.go
  server/core/locking/mocks/matchers/models_user.go
  server/core/locking/mocks/matchers/ptr_to_command_lock.go
  server/core/locking/mocks/matchers/ptr_to_models_projectlock.go
  server/core/locking/mocks/matchers/ptr_to_models_pullstatus.go
  server/core/locking/mocks/matchers/slice_of_command_projectresult.go
  server/core/locking/mocks/matchers/slice_of_models_projectlock.go
  server/core/locking/mocks/matchers/time_time.go
  server/core/locking/mocks/mock_apply_lock_checker.go
  server/core/locking/mocks/mock_apply_locker.go
  server/core/locking/mocks/mock_backend.go
  server/core/locking/mocks/mock_locker.go
  server/core/redis/redis.go
  server/core/redis/redis_test.go
  server/events/apply_command_runner.go
  server/events/command_runner_test.go
  server/events/db_updater.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/pull_closed_executor.go
  server/events/pull_closed_executor_test.go
  server/server.go
  server/user_config.go
Labels: feature, waiting-on-review

#2455 fix: allow requests to /api/* without authentication
  server/middleware.go
Labels: help wanted, area/api, needs discussion

#2418 bug: Fix GitHub Markdown for added and deleted resources
  server/events/markdown_renderer_test.go
  server/events/models/models.go
Labels: bug, waiting-on-response

#2480 Use single github v4 client
  go.mod
  go.sum
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: bug, waiting-on-review

#2403 feat: support parallel execution with order groups
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/events/apply_command_runner.go
  server/events/plan_command_runner.go
  server/events/project_command_pool_executor.go
Labels: feature, waiting-on-review

#2503 lint: remove deprecated io/util package
  server/controllers/api_controller.go
  server/core/runtime/apply_step_runner_test.go
  server/events/event_parser_test.go
  server/events/pull_closed_executor_test.go
  server/static/bindata_assetfs.go
Labels: dependencies

#2411 Fixes for multienv step comment
  server/core/runtime/multienv_step_runner.go
Labels: bug, waiting-on-response

#2470 fix: Set mergeable correctly when branch protection doesn't require reviewers
  server/events/vcs/fixtures/github-branch-protection-required-checks.json
  server/events/vcs/fixtures/github-commit-check-suites.json
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: waiting-on-review

#2510 Adding Redis TLS Option
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/core/redis/redis.go
  server/core/redis/redis_test.go
  server/server.go
  server/user_config.go
Labels: quick-win, waiting-on-review

#2530 chore: Use hadolint to fix DL4006, SC2086
  Dockerfile
Labels: docker

#1633 Delete previous plans on autoplan or atlantis plan
  runatlantis.io/docs/using-atlantis.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner_test.go
  server/events/plan_command_runner.go
  server/server.go
Labels: bug, waiting-on-response

#2543 deps: upgrade terraform to v1.3.1
  .circleci/config.yml
  Dockerfile
  testdrive/utils.go
  testing/Dockerfile
Labels: dependencies
