Repository runatlantis/atlantis, pull requests merged in 2022-10, with the labels that each got.

#2559 Bump alpine to 3.16.2
  docker-base/Dockerfile
Labels: security

#2545 fix #2537: `if` with identical `then` and `else` branches
  server/events/event_parser.go
Labels: bug, waiting-on-review

#2535 fix: Silence allow list errors works again
  server/controllers/events/events_controller.go
Labels: bug, waiting-on-review

#2587 hadolint: base: pin all dependencies
  .github/workflows/atlantis-base.yml
  docker-base/Dockerfile
Labels: dependencies, docker

#2589 Bump atlantis-base:2022.10.14
  .github/workflows/atlantis-image.yml
  Dockerfile
Labels: dependencies, docker

#2405 feat: add a flag to silence policy checks comments when there's no error
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/atlantis.yaml
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/exp-output-apply.txt
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/exp-output-autoplan.txt
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/exp-output-merge.txt
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/main.tf
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/policies/policy.rego
  server/controllers/events/testfixtures/test-repos/policy-checks-success-silent/repos.yaml
  server/events/command_runner_test.go
  server/events/policy_check_command_runner.go
  server/server.go
  server/user_config.go
Labels: feature, waiting-on-review

#2532 docs: update notes to clarify where the environment variables are available
  runatlantis.io/docs/custom-workflows.md
Labels: docs, waiting-on-review

#2461 Bitbucket Server: Send password as Bearer instead of Basic Auth
  runatlantis.io/docs/access-credentials.md
  server/events/vcs/bitbucketserver/client.go
Labels: feature, waiting-on-review

#2599 Update terraform-config-inspect
  go.mod
  go.sum
Labels: help wanted, waiting-on-review
