Repository runatlantis/atlantis, pull requests merged in 2022-11, with the labels that each got.

#2551 Updating diffKeywordRegex to properly handle new test case
  server/events/markdown_renderer_test.go
  server/events/models/models.go
Labels: bug, waiting-on-review

#2636 fix: prevent commit status update in incorrect MR
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: bug, waiting-on-review

#2621 Add COMMENT_ARGS to Pre/Post-Workflow Hook Execution Environment
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/mocks/mock_post_workflows_hooks_command_runner.go
  server/events/mocks/mock_pre_workflows_hooks_command_runner.go
  server/events/models/models.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
Labels: waiting-on-review, workflows

#2522 feat: Implement branch matching in repo-level config
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/raw/project_test.go
  server/core/config/valid/repo_cfg.go
  server/events/project_command_builder.go
  server/events/repo_branch_test.go
Labels: feature, waiting-on-review

#2647 Add custom templating support
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner_test.go
  server/events/markdown_renderer.go
  server/events/markdown_renderer_test.go
  server/events/templates/apply_unwrapped_success.tmpl
  server/events/templates/apply_wrapped_success.tmpl
  server/events/templates/approve_all_projects.tmpl
  server/events/templates/diverged.tmpl
  server/events/templates/failure.tmpl
  server/events/templates/failure_with_log.tmpl
  server/events/templates/log.tmpl
  server/events/templates/multi_project_apply.tmpl
  server/events/templates/multi_project_header.tmpl
  server/events/templates/multi_project_plan.tmpl
  server/events/templates/multi_project_version.tmpl
  server/events/templates/plan_success_unwrapped.tmpl
  server/events/templates/plan_success_wrapped.tmpl
  server/events/templates/policy_check_success_unwrapped.tmpl
  server/events/templates/policy_check_success_wrapped.tmpl
  server/events/templates/single_project_apply.tmpl
  server/events/templates/single_project_plan_success.tmpl
  server/events/templates/single_project_plan_unsuccessful.tmpl
  server/events/templates/single_project_version_success.tmpl
  server/events/templates/single_project_version_unsuccessful.tmpl
  server/events/templates/unwrapped_err.tmpl
  server/events/templates/unwrapped_err_with_log.tmpl
  server/events/templates/version_unwrapped_success.tmpl
  server/events/templates/version_wrapped_success.tmpl
  server/events/templates/wrapped_err.tmpl
  server/server.go
  server/user_config.go
Labels: feature

#2664 docs: updates docs on gh-team-allowlist
  runatlantis.io/docs/server-configuration.md
Labels: docs

#2452 Add policy check summary in wrapped messages
  server/events/markdown_renderer.go
  server/events/models/models.go
  server/events/models/models_test.go
Labels: waiting-on-review

#2426 feat: Add status to the real-time logs page
  server/controllers/templates/web_templates.go
Labels: needs discussion, waiting-on-review

#2653 deps: bump go-github and golang.org/x/text to the latest
  e2e/e2e.go
  e2e/github.go
  e2e/go.mod
  e2e/go.sum
  e2e/main.go
Labels: dependencies, security

#2680 docs: Add auto generation of atlantis.yaml projects
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs

#2656 Adding reloading of TLS certificates
  server/server.go
  server/server_test.go
  testdata/cert.pem
  testdata/cert2.pem
  testdata/key.pem
  testdata/key2.pem
Labels: waiting-on-review

#2619 Reduce image size by rm'ing old tf versions
  Dockerfile
Labels: quick-win, docker

#2683 docs: Update docs for vulnerability reporting
  CONTRIBUTING.md
  SECURITY.md
Labels: docs

#2521 upgrade Git clone locking mechanism to go1.19
  server/events/working_dir.go
Labels: dependencies, waiting-on-review

#2687 metrics: Add Metrics tags to multiple Scopes
  server/controllers/events/events_controller.go
  server/events/command/project_context.go
  server/events/instrumented_project_command_runner.go
  server/events/project_command_context_builder.go
  server/events/vcs/instrumented_client.go
  server/metrics/scope_test.go
Labels: waiting-on-review

#1776 Detect terraform versions using `>=` and `~>` specifiers
  go.mod
  go.sum
  server/events/command_runner_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner_test.go
Labels: feature, waiting-on-response

#2703 chore: rm duplicate make test-all, no push to latest on refs with "pre"
  .circleci/config.yml
  .github/workflows/atlantis-image.yml
Labels: build

#2713 Run PR checks if the PR is moved to `ready_for_review` type
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: build, area/build

#2714 Run docker pull before building images
  .github/workflows/atlantis-base.yml
  .github/workflows/atlantis-image.yml
  .github/workflows/testing-env-image.yml
Labels: build, area/build

#2719 Allow `--gh-team-allowlist` to work with team names and slugs
  runatlantis.io/docs/server-configuration.md
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: bug, quick-win

#2722 Fix the `bad indentation error` in the `atlantis-image.yaml` workflow
  .github/workflows/atlantis-image.yml
Labels: build, quick-win, area/build

#2725 atlantis-image: yaml fix using a separate env var
  .github/workflows/atlantis-image.yml
Labels: build, area/build

#2718 docs: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: quick-win

#2507 feat: auto-plan projects when modules change
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/autoplanning.md
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/events_controller_test.go
  server/events/modules.go
  server/events/modules_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_finder.go
  server/events/project_finder_test.go
  server/events/testdata/fs/repoA/baz/init.tf
  server/events/testdata/fs/repoA/baz/mods.tf
  server/events/testdata/fs/repoA/modules/bar/bar.tf
  server/events/testdata/fs/repoA/modules/foo/foo.tf
  server/events/testdata/fs/repoA/modules/foo/mods.tf
  server/events/testdata/fs/repoA/qux/quxx/init.tf
  server/events/testdata/fs/repoA/qux/quxx/mods.tf
  server/events/testdata/fs/repoB/dev/quxx/init.tf
  server/events/testdata/fs/repoB/dev/quxx/mods.tf
  server/events/testdata/fs/repoB/modules/bar/bar.tf
  server/events/testdata/fs/repoB/modules/foo/foo.tf
  server/events/testdata/fs/repoB/modules/foo/mods.tf
  server/events/testdata/fs/repoB/prod/quxx/init.tf
  server/events/testdata/fs/repoB/prod/quxx/mods.tf
  server/server.go
  server/user_config.go
Labels: bug, waiting-on-review
