Repository runatlantis/atlantis, pull requests merged in 2022-08, with the labels that each got.

#2430 Fix website_link_check CI error
  runatlantis.io/docs/using-slack-hooks.md
Labels: bug

#2436 Make required atlantis/apply status check work with mergeable
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/github_app_controller.go
  server/events/vcs/fixtures/github-commit-status-full.json
  server/events/vcs/github_client.go
  server/events/vcs/github_client_internal_test.go
  server/events/vcs/github_client_test.go
  server/events/vcs/github_config.go
  server/events/vcs/github_credentials_test.go
  server/server.go
  server/user_config.go
Labels: feature, waiting-on-review, provider/github

#2465 Allow manual PR number
  server/controllers/api_controller.go
Labels: area/api, waiting-on-review

#2468 ignore GitLab Draft MRs
  server/events/event_parser.go
  server/events/event_parser_test.go
Labels: waiting-on-review

#2429 enable hostname (not only IP Address) on Metrics statsd host key
  server/core/config/raw/metrics.go
  server/core/config/raw/metrics_test.go
Labels: bug, waiting-on-review
