Repository runatlantis/atlantis, pull requests merged in 2022-12, with the labels that each got.

#2300 feat: support atlantis.yaml without defined projects
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
Labels: feature, needs discussion

#2737 Use GitHub Actions cache when building Docker images
  .github/workflows/atlantis-base.yml
  .github/workflows/atlantis-image.yml
  .github/workflows/testing-env-image.yml
  testing/Dockerfile
Labels: docker

#2738 Cache downloaded Go dependencies and Atlantis compilation in Docker
  Dockerfile
Labels: docker

#2727 docs: add example how to customize the conftest command
  runatlantis.io/docs/policy-checking.md
Labels: docs

#2741 docs: Add a new Azure deployment method
  runatlantis.io/docs/deployment.md
Labels: waiting-on-response, docs, azuredevops

#2759 Update using-slack-hooks.md
  runatlantis.io/docs/using-slack-hooks.md
Labels: docs

#2440 feat: prevent planning and applying directories outside PR scope using `--restrict-file-list`
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/webhooks/mocks/matchers/applyresult.go
  server/events/webhooks/mocks/mock_slack_client.go
  server/events/webhooks/mocks/mock_underlying_slack_client.go
  server/server.go
  server/user_config.go
Labels: feature, waiting-on-response

#2700 Enable or disable `repo_locking` per repo in `repos.yaml` and `atlantis.yaml`
  CONTRIBUTING.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/events/command/project_context.go
  server/events/mocks/mock_project_lock.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/project_locker.go
  server/events/project_locker_test.go
  server/server.go
Labels: waiting-on-review

#2760 docs: terraform version usage after allowing additional `required_version` specifiers
  runatlantis.io/docs/terraform-versions.md
Labels: docs

#2770 Separate docker image types in matrix
  .github/workflows/atlantis-base.yml
  .github/workflows/atlantis-image.yml
  Dockerfile
  docker-base/Dockerfile.alpine
  docker-base/Dockerfile.debian
  docker-entrypoint.sh
Labels: work-in-progress

#2796 docs: Mention `--enable-regexp-cmd` requires the project `name` key
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-configuration.md
Labels: docs

#2805 feat: customize vcs comment command executable name
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/events_controller_test.go
  server/events/comment_parser.go
  server/events/comment_parser_test.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/server.go
  server/user_config.go
Labels: feature

#2804 Adding a check for deleted comments in AzureDevOps event handler
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
Labels: bug

#2808 docs: add more commands in using-atlantis.md
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/how-atlantis-works.md
  runatlantis.io/docs/images/pr-comment-apply.png
  runatlantis.io/docs/images/pr-comment-plan.png
  runatlantis.io/docs/using-atlantis.md
Labels: docs

#2696 feat: dismiss approvals when planning
  cmd/server.go
  cmd/server_test.go
  server/events/plan_command_runner.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/user_config.go
Labels: waiting-on-review

#2828 website: upgrade vuepress 0.x to 1.x
  .node-version
  Makefile
  package.json
  runatlantis.io/.vuepress/config.js
  runatlantis.io/.vuepress/styles/index.styl
  runatlantis.io/.vuepress/styles/palette.styl
  runatlantis.io/.vuepress/theme/components/Home.vue
  runatlantis.io/.vuepress/theme/index.js
  runatlantis.io/README.md
  yarn.lock
Labels: website

#2840 chore(deps): Use google/shlex
  go.mod
  go.sum
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/events/comment_parser.go
Labels: dependencies, security

#2839 chore(deps): Use go-github v48
  Makefile
  go.mod
  go.sum
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/github_request_validator.go
  server/events/apply_command_runner_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/matchers/ptr_to_github_issuecommentevent.go
  server/events/mocks/matchers/ptr_to_github_pullrequest.go
  server/events/mocks/matchers/ptr_to_github_pullrequestevent.go
  server/events/mocks/matchers/ptr_to_github_repository.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_github_pull_getter.go
  server/events/vcs/fixtures/fixtures.go
  server/events/vcs/github_client.go
  server/events/vcs/github_credentials.go
  server/events/vcs/instrumented_client.go
  testdrive/github.go
  testdrive/testdrive.go
Labels: dependencies

#2841 chore(deps): update conftest to 0.37.0
  Dockerfile
  Dockerfile.dev
  testing/Dockerfile
Labels: dependencies

#2838 Adding GetIsDeleted() check to Azure DevOps Event Handler
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
Labels: needs tests

#2853 feat: Allow top-level repo level configs without projects defined
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
Labels: feature

#2877 feat: --allow-commands restricts available atlantis commands
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/using-atlantis.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testfixtures/test-repos/simple/exp-output-allow-command-unknown-import.txt
  server/events/command/name.go
  server/events/command/name_test.go
  server/events/comment_parser.go
  server/events/comment_parser_test.go
  server/server.go
  server/user_config.go
  server/user_config_test.go
Labels: feature

#2889 chore(deps): atlantis-base: Update gosu and git-lfs
  docker-base/Dockerfile.alpine
  docker-base/Dockerfile.debian
Labels: dependencies

#2895 docs/build: Add tests section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: build, docs

#2898 docs: add yaml anchors
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs

#2902 fix: syncing doc variable name with current code
  runatlantis.io/docs/server-configuration.md
Labels: docs
