Repository runatlantis/atlantis, pull requests merged in 2022-07, with the labels that each got.

#2366 deps: upgrade github.com/docker/docker
  cmd/server.go
  go.mod
  go.sum
  server/events/project_finder.go
Labels: dependencies, security

#2348 fix: repository cloning race condition (#2341)
  go.mod
  go.sum
  server/events/working_dir.go
Labels: bug, waiting-on-review, provider/github

#2354 fix: Update multienv_step_runner Env Var Parsing Logic (#2351)
  server/core/runtime/multienv_step_runner.go
  server/core/runtime/multienv_step_runner_test.go
Labels: refactoring, waiting-on-response

#997 Add the /plan and /apply endpoints
  cmd/server.go
  server/controllers/api_controller.go
  server/controllers/api_controller_test.go
  server/events/event_parser.go
  server/events/mocks/mock_event_parsing.go
  server/events/models/models.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/server.go
  server/user_config.go
Labels: area/api, waiting-on-review

#2386 Removing the check about whether a slack channel exists
  server/events/webhooks/mocks/mock_slack_client.go
  server/events/webhooks/slack.go
  server/events/webhooks/slack_client.go
  server/events/webhooks/slack_client_test.go
  server/events/webhooks/webhooks_test.go
Labels: bug, waiting-on-response
