Repository runatlantis/atlantis, pull requests merged in 2022-06, with the labels that each got.

#1301 Further parse Gitlab MergeRequest Update events
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/testdata/gitlab-merge-request-event-update-assignee.json
  server/events/testdata/gitlab-merge-request-event-update-description.json
  server/events/testdata/gitlab-merge-request-event-update-labels.json
  server/events/testdata/gitlab-merge-request-event-update-mixed.json
  server/events/testdata/gitlab-merge-request-event-update-new-commit.json
  server/events/testdata/gitlab-merge-request-event-update-target-branch.json
  server/events/testdata/gitlab-merge-request-event-update-title.json
Labels: feature, waiting-on-review, provider/gitlab

#1704 fix: Delete locks and workdirs with potentially stale previous plans which fixes 1624
  runatlantis.io/docs/using-atlantis.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner_test.go
  server/events/plan_command_runner.go
  server/server.go
Labels: feature, waiting-on-response

#2328 deps: terraform 1.2.3, conftest 0.32.1
  .circleci/config.yml
  Dockerfile
  Dockerfile.dev
  testdrive/utils.go
  testing/Dockerfile
Labels: dependencies

#2287 trim whitespace from comments before parsing
  server/events/comment_parser.go
  server/events/comment_parser_test.go
Labels: bug, waiting-on-response, provider/github

#2204 feat: Prometheus metrics support
  go.mod
  go.sum
  server/core/config/raw/metrics.go
  server/core/config/raw/metrics_test.go
  server/core/config/valid/global_cfg.go
  server/metrics/scope.go
  server/scheduled/runtime_stats.go
  server/server.go
Labels: feature, waiting-on-response, waiting-on-review
