Repository runatlantis/atlantis, pull requests merged in 2022-05, with the labels that each got.

#1793 feat: MultiEnv step added
  runatlantis.io/docs/custom-workflows.md
  server/core/config/raw/step.go
  server/core/runtime/multienv_step_runner.go
  server/core/runtime/multienv_step_runner_test.go
  server/events/project_command_runner.go
  server/server.go
Labels: waiting-on-response

#1326 Implement runWithUser/fsGroup within entrypoint
  docker-entrypoint.sh
Labels: waiting-on-response, waiting-on-review

#2137 [fix] ignore commit status for apply jobs (#2135)
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: bug, waiting-on-response, provider/gitlab

#2267 deps: terraform 1.2.0
  .circleci/config.yml
  Dockerfile
  testdrive/utils.go
  testing/Dockerfile
Labels: dependencies
