Repository runatlantis/atlantis, pull requests merged in 2023-12, with the labels that each got.

#3996 fix: removing mr.Headpipeline.Source log when mr.HeadPipeline is missing
  server/events/vcs/gitlab_client.go
Labels: go, provider/gitlab

#4019 fix: Bump curl from 8.4 to 8.5
  Dockerfile
Labels: build

#3690 chore(atlantis): fix linter errors
  .golangci.yml
  cmd/server_test.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/github_app_controller.go
  server/controllers/locks_controller.go
  server/controllers/status_controller.go
  server/core/config/raw/step.go
  server/core/db/boltdb_test.go
  server/core/locking/locking.go
  server/core/redis/redis.go
  server/core/redis/redis_test.go
  server/core/runtime/apply_step_runner_test.go
  server/core/runtime/plan_step_runner.go
  server/core/runtime/plan_step_runner_test.go
  server/core/runtime/run_step_runner.go
  server/core/runtime/runtime.go
  server/core/runtime/show_step_runner.go
  server/core/runtime/version_step_runner.go
  server/events/apply_command_runner_test.go
  server/events/command_runner.go
  server/events/command_runner_internal_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/markdown_renderer_test.go
  server/events/plan_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
  server/events/unlock_command_runner.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/azuredevops_client_test.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/github_client.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/webhooks/slack.go
  server/events/working_dir.go
  server/events/working_dir_test.go
  server/jobs/project_command_output_handler.go
  server/jobs/project_command_output_handler_test.go
  server/server.go
Labels: bug, provider/azuredevops, go, waiting-on-review, provider/bitbucket, provider/github, provider/gitlab, work-in-progress

#3780 fix: set policy_check status to success for PRs with no modified projects
  server/events/plan_command_runner.go
Labels: bug, go, conftest-policy

#3292 feat: Add project depends on functionality
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/repo_cfg.go
  server/events/command/project_context.go
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/mocks/mock_command_requirement_handler.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
Labels: feature, waiting-on-response, docs, go

#3867 fix: clone repository before getting working dir
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testdata/test-repos/simple-yaml/exp-output-plan-default.txt
  server/controllers/events/testdata/test-repos/simple-yaml/exp-output-plan-staging.txt
  server/events/project_command_builder.go
Labels: go, waiting-on-review

#3912 feat: Remove flag for disable apply
  cmd/server.go
  cmd/server_test.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testdata/test-repos/simple-yaml/exp-output-allow-command-unknown-apply.txt
  server/core/locking/apply_locking.go
  server/core/locking/locking_test.go
  server/events/apply_command_runner.go
  server/events/apply_command_runner_test.go
  server/user_config.go
Labels: refactoring, go, waiting-on-review

#4003 docs: Update using-atlantis.md
  runatlantis.io/docs/using-atlantis.md
Labels: docs

#3784 feat: Jobs now shown in a table in the main page
  server/controllers/templates/web_templates.go
  server/events/vcs/instrumented_client.go
  server/jobs/mocks/mock_project_command_output_handler.go
  server/jobs/project_command_output_handler.go
  server/jobs/project_command_output_handler_test.go
  server/server.go
  server/server_test.go
  server/static/css/custom.css
Labels: feature, quick-win, go, waiting-on-review, ui

#3863 refactor: regen mocks, use existing VerifyWasCalled(Never())
  server/events/command_runner_test.go
  server/events/vcs/mocks/mock_client.go
Labels: go, waiting-on-review

#4007 fix: In Gitlab, if an Atlantis 'Apply' Pipeline Job fails, it cannot be Re-Applied on the Same Commit
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: bug, go, provider/gitlab

#3960 fix: Enforce policy checks for overridden apply reqs
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/events/project_command_builder_internal_test.go
Labels: bug, go, conftest-policy

#3911 feat: Remove flag for allow repo config
  cmd/server.go
  cmd/server_test.go
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/parser_validator_test.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/repo_branch_test.go
  server/server.go
  server/user_config.go
Labels: feature, refactoring, go, breaking-change

#4040 fix: always build images when tags are pushed
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3868 chore: bump muffet from 2.6.3 to 2.9.3
  .github/workflows/website.yml
Labels: dependencies, github-actions

#4048 fix: update working_dir.go
  server/events/working_dir.go
Labels: bug, go

#4054 docs: Custom container doc update
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/deployment.md
Labels: docs

#4066 fix: CI for markdown renderer
  server/events/markdown_renderer_test.go
Labels: go

#4064 feat: Add missing test flags
  cmd/server_test.go
Labels: go

#4074 chore: add governance process to Atlantis
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS.md
Labels: docs, governance

#4078 fix: ensure the MR log line prints an integer and not a rune
  server/events/project_command_builder.go
Labels: bug, go

#4080 fix: ensure the MR log line prints an integer and not a rune (#4078)
  server/events/project_command_builder.go
Labels: go

#4086 chore: Move gitlab client test data into testdata/ files
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/testdata/gitlab-changes-available.json
  server/events/vcs/testdata/gitlab-changes-pending.json
  server/events/vcs/testdata/gitlab-detailed-merge-status-ci-must-pass.json
  server/events/vcs/testdata/gitlab-head-pipeline-not-available.json
  server/events/vcs/testdata/gitlab-merge-success-with-label.json
  server/events/vcs/testdata/gitlab-merge-success.json
  server/events/vcs/testdata/gitlab-pipeline-success.json
  server/events/vcs/testdata/gitlab-project-success.json
Labels: go, provider/gitlab

#4082 fix: Prevent panics when logging HTTP response status in github and gitlab client
  server/events/vcs/github_client.go
  server/events/vcs/gitlab_client.go
Labels: go, provider/github, provider/gitlab

#4052 docs: Update Document for server-side-repo-config.md
  runatlantis.io/docs/server-side-repo-config.md
Labels: docs

#4089 fix: download conftest binary for correct arch
  server/core/runtime/policy/conftest_client.go
  server/core/runtime/policy/conftest_client_test.go
Labels: go

#4047 chore: Remove settings for require approval, mergeable, undiverged
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/command-requirements.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/parser_validator_test.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/repo_branch_test.go
  server/server.go
  server/user_config.go
Labels: docs, go

#4102 chore(deps): Update vuepress to v2.0.0-rc.0
  package.json
  yarn.lock
Labels: dependencies, website

#4105 feat(docs): Update docs for `--hide-prev-plan-comments` and `UnDiverged`
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/docs/server-configuration.md
Labels: docs

#4012 fix: Atlantis Does Not Consider the Plan Directory When Hiding Previous Plan Comments
  server/controllers/events/events_controller.go
  server/events/event_parser.go
  server/events/pull_updater.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
Labels: provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab
