Repository runatlantis/atlantis, pull requests merged in 2023-11, with the labels that each got.

#3907 fix: Better determine number of expected comments and webhooks in e2e test
  server/controllers/events/events_controller_e2e_test.go
Labels: go

#3914 feat: bump terraform default version to 1.6.3
  Dockerfile
Labels: build

#3918 chore: enable cherry-pick-bot.yml
  .github/cherry-pick-bot.yml
Labels: github-actions

#3887 fix: Update GitLab Pipeline Type Detection to use Head Pipeline Property
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: feature, go, waiting-on-review, provider/gitlab

#3880 fix: When GitHub/GitLab Auto-Merge Is Used with Atlantis Pre Workflow Hooks, the PR will be Merged Prematurely
  server/events/command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
  server/server.go
Labels: go, waiting-on-review

#3925 refactor(ci): reduce complexity in required workflows
  .github/workflows/atlantis-image-required.yml
  .github/workflows/atlantis-image.yml
  .github/workflows/codeql-required.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-required.yml
  .github/workflows/lint.yml
  .github/workflows/pr-lint.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/testing-env-image.yml
  .github/workflows/website-required.yml
  .github/workflows/website.yml
Labels: github-actions

#3924 fix(renovate): add release branches to renovate
  .github/renovate.json5
  .github/workflows/renovate-config.yml
Labels: github-actions

#3886 fix: use the non-root atlantis user instead of root
  Dockerfile
  docker-entrypoint.sh
Labels: build, waiting-on-response, security

#3966 ci(workflows): actually run GHA workflows on s/releases/release branches
  .github/workflows/atlantis-image.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: github-actions

#3923 feat: Remove deprecated silence whitelist errors flag
  cmd/server.go
  cmd/server_test.go
  server/user_config.go
Labels: go

#3964 fix: use the non-root atlantis user instead of root (cherry-pick #3886)
  Dockerfile
  docker-entrypoint.sh
Labels: build

#3922 feat: Remove deprecated repo whitelist flag
  cmd/server.go
  server/user_config.go
Labels: go

#3975 fix: remove unused packages after gosu cleanup
  Dockerfile
Labels: build

#3742 fix: Check user permissions on autoplan
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
Labels: go, waiting-on-review, vcs-status

#3781 feat: full window sized terminal
  server/controllers/templates/web_templates.go
  server/static/css/custom.css
Labels: quick-win, go, waiting-on-review, ui

#3881 perf: avoid allocations with `(*regexp.Regexp).MatchString`
  server/core/config/parser_validator.go
Labels: go, waiting-on-review

#3666 feat: add script execution from docker-entrypoint.d folder
  docker-entrypoint.sh
Labels: feature, waiting-on-response, installation, docker, needs docs

#3895 feat: add autodiscover enabled feature
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/server-side-repo-config.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/autodiscover.go
  server/core/config/raw/autodiscover_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/autodiscover.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/core/config/valid/repo_cfg_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/server.go
  server/user_config.go
Labels: feature, docs, go, waiting-on-review
