Repository runatlantis/atlantis, pull requests merged in 2023-07, with the labels that each got.

#3568 fix: Gitlab Autoplan wont trigger when switching Draft to Ready
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/testdata/gitlab-merge-request-event-mark-as-ready.json
Labels: go

#3574 fix: Atlantis Web Console Windows with more than a Screen of Output have a Double Scrollbar
  server/controllers/templates/web_templates.go
Labels: go

#3567 fix: Atlantis Triggers AutoPlans on Non-Code Change GitLab Merge Event Webhooks
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/testdata/gitlab-merge-request-event-update-milestone.json
  server/events/testdata/gitlab-merge-request-event-update-reviewer.json
Labels: go

#3583 fix: Tests broken by #3503
  server/controllers/events/events_controller_e2e_test.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
Labels: go

#3550 fix: Erroneous Re-display of 'Plan Discarded' UI message
  server/controllers/templates/web_templates.go
  server/static/css/custom.css
Labels: go

#3553 fix: Discarding a Plan Causes the Whole Working Directory to be Deleted
  server/controllers/locks_controller.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_working_dir.go
  server/events/working_dir.go
  server/server.go
Labels: go

#3571 feat: Add Command Name Environment Variable to Pre/Post Workflow Executions
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner_test.go
  server/events/command_runner.go
  server/events/models/models.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
Labels: docs, go

#3379 feat: global repo params
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/automerging.md
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/events/automerger.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/server.go
  server/user_config.go
Labels: docs, go, needs tests

#3451 feat: Add Support for Customising the Shell for Pre and Post Workflow Hooks
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/raw/workflow_step.go
  server/core/config/valid/global_cfg.go
  server/core/runtime/mocks/mock_post_workflows_hook_runner.go
  server/core/runtime/mocks/mock_pre_workflows_hook_runner.go
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner_test.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
Labels: docs, go

#3402 fix(bitbucket): avoid extra plans using a local LRU
  .gitignore
  go.mod
  go.sum
  runatlantis.io/docs/autoplanning.md
  server/controllers/events/events_controller.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
Labels: docs, dependencies, go

#3591 fix: broken automerge logic
  server/events/automerger.go
  server/events/command_runner_test.go
Labels: go

#3611 fix(website): vuepress-next breaking change
  .github/renovate.json5
  .github/workflows/atlantis-image-required.yml
  .github/workflows/atlantis-image.yml
  .github/workflows/test-required.yml
  .github/workflows/test.yml
  .github/workflows/website-required.yml
  .github/workflows/website.yml
  package.json
  yarn.lock
Labels: dependencies, github-actions, website

#3623 fix(website-test): missing backslash for muffet
  .github/workflows/website.yml
Labels: github-actions

#3622 fix: alpine package versions bump
  Dockerfile
Labels: build

#3633 fix(ci): link_check required
  .github/workflows/website-required.yml
Labels: github-actions

#3632 fix: Update Conftest 'Failed to get default conftest version' Log entry to Info
  server/core/runtime/policy/conftest_client.go
Labels: go

#3631 fix: Update the Simple Logger Log Function to log the Correct Caller
  server/logging/simple_logger.go
Labels: go

#3621 fix: Include information about imports in PlanSuccessStats
  server/events/models/models.go
  server/events/models/models_test.go
Labels: go

#3414 feat: Allow for negations in repo allowlist
  runatlantis.io/docs/security.md
  runatlantis.io/docs/server-configuration.md
  server/events/repo_allowlist_checker.go
  server/events/repo_allowlist_checker_test.go
Labels: docs, go

#3473 fix: auto plan when .terraform.lock.hcl changed
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/core/config/parser_validator_test.go
  server/core/config/raw/autoplan.go
  server/core/config/raw/autoplan_test.go
  server/core/config/raw/project_test.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/repo_cfg_test.go
  server/events/project_finder_test.go
Labels: docs, go, needs tests
