Repository runatlantis/atlantis, pull requests merged in 2023-05, with the labels that each got.

#3351 [Feature] - Add clear policy approval functionality.
  runatlantis.io/docs/policy-checking.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/atlantis.yaml
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-apply-failed.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-apply.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-approve-policies-clear.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-approve-policies-success.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-approve-policies.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-auto-policy-check.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/exp-output-merge.txt
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/main.tf
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/policies/policy.rego
  server/controllers/events/testdata/test-repos/policy-checks-clear-approval/repos.yaml
  server/events/command/context.go
  server/events/command/project_context.go
  server/events/command_runner.go
  server/events/comment_parser.go
  server/events/comment_parser_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
Labels: docs, go

#3376 fix(ci): Create atlantis-image-required.yml
  .github/workflows/atlantis-image-required.yml
Labels: github-actions

#3361 feat: case insensitive pr comments
  server/events/comment_parser.go
  server/events/comment_parser_test.go
Labels: go

#3360 feat(reaction): disable reactions by setting an empty string
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
Labels: go

#3383 chore(docs): Add notes to atlantis-url in server-configuration
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3393 fix(ci): push docker dev tag only on merge to main
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3323 feat: when using order group, abort plan/apply if any fail
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/events/apply_command_runner.go
  server/events/apply_command_runner_test.go
  server/events/command/project_context.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/project_command_pool_executor.go
  server/events/version_command_runner.go
Labels: docs, go, needs tests

#3419 fix(deps): Update Dockerfile curl and libcap
  Dockerfile
Labels: build

#3416 fix(metrics): add missing stat metric scopes
  server/events/instrumented_project_command_runner.go
Labels: go, needs tests

#3432 fix(atlantis-image): push on release tag
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3422 fix(workflow-hook): log output with or without errors
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner_test.go
Labels: go

#3437 fixbug: Update commandName in RunAndEmitStats
  server/events/instrumented_project_command_runner.go
Labels: waiting-on-response, go, needs tests, work-in-progress

#3443 chore(docs): Add TF_IN_AUTOMATION to Terragrunt Custom Workflow Docs
  runatlantis.io/docs/custom-workflows.md
Labels: docs

#3454 fix (workflow-hook): Make Unique Output IDs for Separate Pre and Post Workflow Hooks
  server/events/post_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
Labels: go

#3461 fix: Initialize VCSClient for commandrunner to remove recent server panics
  server/server.go
  server/server_test.go
Labels: go
