Repository runatlantis/atlantis, pull requests merged in 2023-06, with the labels that each got.

#3468 [Document] fix list indent Custom Workflows run command environments
  runatlantis.io/docs/custom-workflows.md
Labels: docs

#3466 docs: include .terraform.lock.hcl to when_modified examples
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs

#3480 feat(github-actions): Add pr lint workflow
  .github/workflows/pr-lint.yml
Labels: github-actions

#3478 feat(stats): pass plan stats to markdown templates
  server/events/markdown_renderer.go
  server/events/models/models.go
  server/events/models/models_test.go
Labels: go

#3493 fix: Check for upstream changes to merge only when planning
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_comment_building.go
  server/events/mocks/mock_working_dir.go
  server/events/project_command_runner.go
  server/events/working_dir.go
  server/events/working_dir_test.go
Labels: go

#3481 fix(github-actions): pin buildx to v0.11.2
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3500 feat(release-notes): add release.yml
  .github/release.yml
Labels: github-actions

#3506 fix(docs): Update access-credentials.md
  runatlantis.io/docs/access-credentials.md
Labels: docs

#3484 feat: Add Terraform command duration to log messages
  server/core/runtime/models/shell_command_runner.go
  server/core/runtime/models/shell_command_runner_test.go
  server/core/terraform/terraform_client.go
  server/core/terraform/terraform_client_internal_test.go
Labels: go

#3504 chore: Replace go-bindata-assetfs with embed Package
  Makefile
  go.sum
  server/server.go
  server/static/bindata_assetfs.go
Labels: dependencies, go

#3507 feat: Add Search Bar to Xterm Output on Job Details Web Page
  server/controllers/templates/web_templates.go
  server/static/js/xterm-addon-search-0.7.0.js
  server/static/js/xterm-addon-search-bar.js
Labels: go

#3511 fix: Remove the 'Plan Discarded' Message from the Enable/Disable Apply Commands
  server/controllers/templates/web_templates.go
Labels: go

#3509 feat: Update Lock Index Page to Use a CSS Grid Layout
  server/controllers/templates/web_templates.go
  server/static/css/custom.css
Labels: go

#3456 feat: Add GitLab Reaction Emojis on MR Comments
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
Labels: docs, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab

#3517 chore(buildkit): pin to v0.10.6
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3476 feat: Add Support For Hiding Previous Plan Comments on GitLab
  runatlantis.io/docs/server-configuration.md
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: docs, go, provider/gitlab

#3522 fix(release.yml): add dependencies to release.yml
  .github/release.yml
Labels: github-actions

#3521 chore(Dockerfile): re-add terraform 1.4
  Dockerfile
Labels: build

#3380 chore: function docs, linting errors
  cmd/help_fmt.go
  cmd/version.go
Labels: go, waiting-on-review

#3384 chore: using constants for checkout strategies
  cmd/server.go
  cmd/server_test.go
Labels: go, waiting-on-review

#3502 fix: parse custom run step output in policy_check
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/atlantis.yaml
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-apply-failed.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-apply.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-approve-policies.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-auto-policy-check.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/exp-output-merge.txt
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/main.tf
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/policies/policy.rego
  server/controllers/events/testdata/test-repos/policy-checks-custom-run-steps/repos.yaml
  server/events/markdown_renderer.go
  server/events/markdown_renderer_test.go
  server/events/models/models.go
  server/events/project_command_runner.go
  server/events/templates/policy_check_results_unwrapped.tmpl
  server/events/templates/policy_check_results_wrapped.tmpl
Labels: go

#3528 fix: debian version pinning
  Dockerfile
Labels: build

#3527 docs: fix policy-checking command example
  runatlantis.io/docs/policy-checking.md
Labels: docs

#3539 revert(deps): update dependency @vuepress/plugin-docsearch to v2.0.0-beta.50-pre.1 in package.json
  yarn.lock
Labels: dependencies, website

#3552 feat: Update the Lock Detail Web Page to Use a Modern Grid Layout
  server/controllers/templates/web_templates.go
  server/static/css/custom.css
Labels: go

#3518 feat: Add an `output` option to filter output for custom run steps
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  server/core/config/raw/step.go
  server/core/config/raw/step_test.go
  server/core/config/valid/repo_cfg.go
  server/core/runtime/env_step_runner.go
  server/core/runtime/multienv_step_runner.go
  server/core/runtime/run_step_runner.go
  server/core/runtime/run_step_runner_test.go
  server/events/mocks/mock_custom_step_runner.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
Labels: feature, quick-win, docs, go
