Repository runatlantis/atlantis, pull requests merged in 2023-01, with the labels that each got.

#2907 Improve plan summary performance
  server/events/command/project_result_test.go
  server/events/markdown_renderer_test.go
  server/events/models/models.go
Labels: quick-win

#2940 docs: Add `api-secret` flag
  runatlantis.io/docs/server-side-repo-config.md
Labels: docs

#2946 docs: add release svg to readme
  README.md
Labels: docs

#2956 docker: bump base to 2023-01-09
  Dockerfile
Labels: docker

#2953 feat: Support team owners for conftest policies
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/server-side-repo-config.md
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/github_app_controller.go
  server/core/config/raw/policies.go
  server/core/config/raw/policies_test.go
  server/core/config/valid/policies.go
  server/events/approve_policies_command_runner.go
  server/events/approve_policies_command_runner_test.go
  server/events/command_runner_test.go
  server/server.go
Labels: needs tests

#2965 chore(docker): use 11.6-slim
  docker-base/Dockerfile.debian
Labels: dependencies, docker

#2879 feat(build): add vulnerability codeql scanning
  .github/workflows/codeql.yml
  testdrive/utils.go
Labels: dependencies, security

#2995 docs: Add clarification to `enable-regex-cmp` flag
  runatlantis.io/docs/server-configuration.md
Labels: docs

#2997 chore(docker): set ATLANTIS_BASE_TAG_DATE=latest
  Dockerfile
Labels: dependencies

#2980 chore(deps): website: upgrade vuepress 1.x to 2.x
  .gitignore
  package.json
  runatlantis.io/.vuepress/config.js
  runatlantis.io/.vuepress/styles/index.scss
  runatlantis.io/.vuepress/styles/index.styl
  runatlantis.io/.vuepress/styles/palette.scss
  runatlantis.io/.vuepress/styles/palette.styl
  runatlantis.io/.vuepress/theme/components/Home.vue
  runatlantis.io/docs/configuring-webhooks.md
  yarn.lock
Labels: dependencies, website

#3004 chore(website): Add "in production since 2017"
  runatlantis.io/.vuepress/theme/components/Home.vue
Labels: website

#2998 chore(docker): bump-git-2.39
  docker-base/Dockerfile.alpine
Labels: dependencies, security

#3018 build(docker): fix intermittent ghcr push failures
  .github/workflows/atlantis-base.yml
  .github/workflows/atlantis-image.yml
Labels: build, github-actions

#3019 chore(actions): deprecate set-output
  .github/workflows/release.yml
Labels: build, github-actions

#3021 feat(codeql): ignore draft prs
  .github/workflows/codeql.yml
Labels: github-actions

#3026 chore(test): remove redundant test job from circleci
  .circleci/config.yml
  .github/workflows/test.yml
Labels: github-actions

#3028 fix(actions): remove unused `test` reference to enable e2e
  .circleci/config.yml
Labels: build

#3020 feat(actions): add labeler
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: github-actions

#3029 docs(readme): Add go pkg badge
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
Labels: docs, github-actions

#3035 docs: adding working slack invite link
  README.md
Labels: docs

#3036 docs: update slack invite to a perm link
  CODE_OF_CONDUCT.md
Labels: docs

#3037 feat(actions): website link check
  .circleci/config.yml
  .github/workflows/test.yml
Labels: github-actions

#2873 chore(template): expand issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: github-actions

#3013 docs: `/api/plan` and `/api/apply` endpoints
  cmd/server.go
  runatlantis.io/.vuepress/config.js
  runatlantis.io/docs/api-endpoints.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/server-side-repo-config.md
Labels: docs, go, website

#3048 Update using-slack-hooks.md
  runatlantis.io/docs/using-slack-hooks.md
Labels: docs

#3049 feat(release): version based on github release tag
  .github/workflows/release.yml
  kustomize/bundle.yaml
  main.go
Labels: go, github-actions

#3051 fix(docker): Set version based on release tag, revert gorelease signing
  .github/workflows/atlantis-image.yml
  .github/workflows/release.yml
  .goreleaser.yml
  Dockerfile
  main.go
Labels: build, go, work-in-progress, github-actions

#3060 fix(docker): docker-entrypoint when called with atlantis
  docker-entrypoint.sh
Labels: docker

#3062 docs: apply home dark mode
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  runatlantis.io/.vuepress/styles/index.scss
  runatlantis.io/.vuepress/theme/components/Home.vue
Labels: github-actions, website

#3063 fix(docs): add bitbucket to `delete_source_branch_on_merge`
  runatlantis.io/docs/server-side-repo-config.md
Labels: docs

#3074 fix(deps): update module github.com/google/go-github/v49 to v50
  e2e/e2e.go
  e2e/github.go
  e2e/go.mod
  e2e/go.sum
  e2e/main.go
  go.mod
  go.sum
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/github_request_validator.go
  server/events/apply_command_runner_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/matchers/ptr_to_github_issuecommentevent.go
  server/events/mocks/matchers/ptr_to_github_pullrequest.go
  server/events/mocks/matchers/ptr_to_github_pullrequestevent.go
  server/events/mocks/matchers/ptr_to_github_repository.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_github_pull_getter.go
  server/events/vcs/github_client.go
  server/events/vcs/github_credentials.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/matchers/ptr_to_github_pullrequest.go
  server/events/vcs/mocks/mock_github_pull_request_getter.go
  server/events/vcs/testdata/fixtures.go
  testdrive/github.go
  testdrive/testdrive.go
Labels: dependencies, go, provider/github

#3073 docs: add env var variants for autoplan config options
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3075 fix(deps): update module github.com/go-redis/redis/v9 to v9.0.1
  go.mod
  go.sum
  server/core/config/valid/global_cfg.go
  server/core/redis/redis.go
Labels: dependencies, go

#3076 feat: suppress log package logging
  server/controllers/events/events_controller_e2e_test.go
  server/logging/log.go
  server/server.go
Labels: go

#3085 chore: remove x package
  go.mod
  go.sum
  server/core/config/valid/global_cfg.go
  server/events/comment_parser.go
  server/utils/slices.go
Labels: dependencies, go
