Repository runatlantis/atlantis, pull requests merged in 2023-02, with the labels that each got.

#3093 deps: bump to go1.20
  .circleci/config.yml
  Dockerfile
  Makefile
  e2e/go.mod
  go.mod
  testing/Dockerfile
Labels: build, dependencies

#3099 fix(docs): Add missing dir to DRY repo level atlantis.yaml projects key
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs

#3067 bugfix(gitlab): correct detailed merge status check
  server/events/vcs/gitlab_client.go
Labels: go, provider/gitlab

#3106 chore(dependency): Swap `moby` with `patternmatcher`
  cmd/server.go
  go.mod
  go.sum
  server/events/modules.go
  server/events/project_finder.go
Labels: dependencies, go

#3107 feat(docker): download transitive dependencies
  Dockerfile
Labels: build

#3108 chore(dependency): Swap `go-spew` with `kr/pretty`
  go.mod
  go.sum
  testing/assertions.go
Labels: dependencies, go

#3123 feat(renovatebot): automerge enabled
  .github/renovate.json5
  .github/workflows/codeql-required.yml
  .github/workflows/lint-required.yml
  .github/workflows/test-required.yml
Labels: github-actions

#3091 fix(workflow-hook): pre/post hook not sending output due to invalid key
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner.go
Labels: waiting-on-response, go

#2809 fix(azure-devops): add check for test webhook URL
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
Labels: waiting-on-response, go

#3059 feat(executable-name): Add check for misspelled comment command
  server/events/comment_parser.go
  server/events/comment_parser_test.go
  server/utils/spellcheck.go
  server/utils/spellcheck_test.go
Labels: go

#2758 feat: shallow repo clone in merge checkout strategy
  cmd/server.go
  runatlantis.io/docs/checkout-strategy.md
  runatlantis.io/docs/server-configuration.md
  server/events/pending_plan_finder_test.go
  server/events/working_dir.go
  server/events/working_dir_test.go
  server/server.go
  server/user_config.go
Labels: feature, docs, go

#3153 fix: Use `hashicorp/go-version` to resolve `~> 1.0` to `1.x` instead of `1.0.x`
  go.mod
  server/core/terraform/terraform_client.go
  server/core/terraform/terraform_client_test.go
Labels: dependencies, go

#3159 feat: Include commit and date in version
  Makefile
  main.go
Labels: go

#3121 feat(build): add new sha ghrc docker tags using docker/metadata-action
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3163 fix: use shorter commit sha in version output
  main.go
Labels: go

#3164 fix: push image to repo name without org
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3167 fix: push to full ghcr repo name
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3158 feat: add hide-unchanged-plan-comments option
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner_test.go
  server/events/markdown_renderer.go
  server/events/markdown_renderer_test.go
  server/events/models/models.go
  server/events/templates/multi_project_plan.tmpl
  server/server.go
  server/user_config.go
Labels: docs, go

#3166 chore(docs): add note of autoplan modules limitation
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3165 chore(docs): remove deprecated flags from docs
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3170 fix: add missing description to multiarch images
  .github/workflows/atlantis-image.yml
Labels: github-actions
