Repository runatlantis/atlantis, pull requests merged in 2023-08, with the labels that each got.

#3636 chore: Update server/events/working_dir Logging Configuration
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/github_app_working_dir.go
  server/events/github_app_working_dir_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_working_dir.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/working_dir.go
  server/events/working_dir_test.go
Labels: go, provider/github

#3620 fix(github): Allow status check/command requirements to work on fork PRs
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: go, provider/github

#3378 feat: set `atlantis/apply` check to `successful` if all plans are `No Changes`
  server/events/apply_command_runner.go
  server/events/command/project_result.go
  server/events/command/project_result_test.go
  server/events/command_runner_internal_test.go
  server/events/models/models.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
Labels: go, needs discussion

#3637 chore: Fix Go Static Check Errors
  server/events/github_app_working_dir_test.go
  server/events/plan_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/project_finder.go
  server/events/working_dir_locker.go
  server/events/working_dir_locker_test.go
Labels: go, provider/github

#3645 chore: Fix golangci-lint Configuration
  .github/workflows/lint-required.yml
  .github/workflows/lint.yml
  .golangci.yml
Labels: github-actions

#3653 fix: gitlab client failing test
  server/events/vcs/gitlab_client_test.go
Labels: go, provider/gitlab

#3657 chore: update to use go1.21
  .circleci/config.yml
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  testing/Dockerfile
Labels: build, dependencies

#3695 fix(gitlab): Prevent considering non-head pipelines skipped by default
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: go, provider/gitlab

#3709 docs: fix typo
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3711 docs: Fix server side repo config document typo
  runatlantis.io/docs/server-side-repo-config.md
Labels: docs
