Repository runatlantis/atlantis, pull requests merged in 2023-09, with the labels that each got.

#3729 feat: Add A Server Config Flag to Enable Failure on Pre Workflow Hook Errors
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/server.go
  server/user_config.go
Labels: docs, go

#3728 docs: updated server-configuration.md on GirhubApp slug
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3731 docs: Update Docs for the Server Config Flag to Enable Failure on Pre Workflow Hook Errors
  runatlantis.io/docs/pre-workflow-hooks.md
Labels: docs

#3744 fix: Change message for when request is not approved to be more accurate
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/project_command_runner_test.go
Labels: go

#3748 fix: Failing CI after renovate merge
  e2e/e2e.go
  e2e/github.go
  e2e/go.mod
  e2e/go.sum
  e2e/main.go
  go.mod
  go.sum
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/events_controller_test.go
  server/controllers/events/github_request_validator.go
  server/events/apply_command_runner_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_github_pull_getter.go
  server/events/plan_command_runner_test.go
  server/events/vcs/github_client.go
  server/events/vcs/github_credentials.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_github_pull_request_getter.go
  testdrive/github.go
  testdrive/testdrive.go
Labels: dependencies, go, provider/github

#3675 ci: use `dorny/paths-filter` to filter paths when running go-tests
  .github/workflows/test-required.yml
  .github/workflows/test.yml
Labels: waiting-on-review, github-actions

#3752 fix: checkout before `dorny/paths-filter`
  .github/workflows/test.yml
Labels: github-actions

#3724 feat: Enhance Support for CDKTF By Allowing Git Untracked Files to be Added to the Atlantis Modified File List
  cmd/server.go
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_working_dir.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_finder.go
  server/events/working_dir.go
  server/server.go
  server/user_config.go
Labels: feature, go, waiting-on-review

#3751 fix: Running 'atlantis unlock' on a PR Causes The Whole Working Directory to be Deleted
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/unlock_command_runner.go
Labels: go, waiting-on-review

#3755 docs(using-atlantis): add usage for -destroy flag in atlantis plan
  runatlantis.io/docs/using-atlantis.md
Labels: docs

#3770 fix: latest terraform 1.3.* is now 1.3.10
  server/core/terraform/terraform_client_test.go
Labels: go

#3776 docs: Update Terragrunt custom workflows docs
  runatlantis.io/docs/custom-workflows.md
Labels: docs

#3787 fix: Updating curl package
  Dockerfile
Labels: build

#3720 feat: Add use plugin cache flag
  Dockerfile
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/server.go
  server/user_config.go
Labels: feature, build, quick-win, docs, go

#3747 fix: Do not unnecessarily update apply check if it doesn't exist yet
  server/events/command_runner_internal_test.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
Labels: bug, quick-win, go, waiting-on-review

#3649 feat: disable autoplan label
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/server.go
  server/user_config.go
Labels: feature, docs, provider/azuredevops, go, waiting-on-review, provider/bitbucket, provider/github, provider/gitlab

#3499 fix: safer re-merging with updated upstream
  server/events/markdown_renderer_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_working_dir.go
  server/events/models/models.go
  server/events/project_command_runner.go
  server/events/templates/diverged.tmpl
  server/events/templates/merged_again.tmpl
  server/events/templates/plan_success_unwrapped.tmpl
  server/events/templates/plan_success_wrapped.tmpl
  server/events/working_dir.go
  server/events/working_dir_test.go
Labels: go, needs tests

#3679 fix: issue with GH App credential not writing if lines already exist
  server/events/vcs/git_cred_writer.go
  server/events/vcs/git_cred_writer_test.go
Labels: bug, quick-win, go

#3790 ci: auto generated release notes
  .github/release.yml
Labels: bug, github-actions
