Repository runatlantis/atlantis, pull requests merged in 2023-10, with the labels that each got.

#3806 feat: set default tf & conftest env vars for apline
  Dockerfile
Labels: build

#3708 feat: Add Targeted Execution to the Pre/Post Workflow Hooks
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  server/core/config/raw/workflow_step.go
  server/core/config/valid/global_cfg.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
Labels: docs, go, waiting-on-review

#3821 feat: Add project depends on functionality
  runatlantis.io/docs/depends-on.md
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/repo_cfg.go
  server/events/command/project_context.go
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/mocks/mock_command_requirement_handler.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
Labels: docs, go

#3765 feat: Add option allowing usage of custom policy check tools
  runatlantis.io/docs/custom-policy-checks.md
  runatlantis.io/docs/policy-checking.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/core/runtime/policy/conftest_client.go
  server/core/runtime/policy/conftest_client_test.go
  server/core/runtime/run_step_runner.go
  server/events/command/project_context.go
  server/events/markdown_renderer_test.go
  server/events/models/models.go
  server/events/models/models_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
  server/events/templates/policy_check.tmpl
Labels: feature, docs, go, needs discussion, work-in-progress, conftest-policy

#3802 fix: make go-generate now creates working mocks out of the box
  server/core/runtime/mocks/mock_status_updater.go
  server/core/runtime/runtime.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_job_url_setter.go
  server/events/project_command_runner.go
  server/jobs/job_url_setter.go
  server/jobs/mocks/mock_project_status_updater.go
Labels: go

#3824 fix(ci): website tests 403 atlassian links
  .github/workflows/website.yml
Labels: github-actions

#3825 Revert "feat: Add project depends on functionality"
  runatlantis.io/docs/depends-on.md
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/repo_cfg.go
  server/events/command/project_context.go
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/mocks/mock_command_requirement_handler.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
Labels: docs, go

#3542 fix(multienv): allow commas and quoted values
  server/core/runtime/multienv_step_runner.go
  server/core/runtime/multienv_step_runner_internal_test.go
  server/core/runtime/multienv_step_runner_test.go
Labels: feature, go

#3827 fix: Removing typo in documentation
  runatlantis.io/docs/custom-policy-checks.md
Labels: docs

#3839 fix: Return error on `InstrumentedClient.MergePull`
  server/events/vcs/instrumented_client.go
Labels: go

#3837 fix: Docs: Sort the Server Configuration flags into alphabetical order
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3799 feat: Added disable-unlock-label config option
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/unlock_command_runner.go
  server/events/vcs/mocks/mock_client.go
  server/server.go
  server/user_config.go
Labels: feature, quick-win, docs, go

#3848 docs: Update testing-locally.md
  runatlantis.io/guide/testing-locally.md
Labels: docs

#3850 fix: Updating curl
  Dockerfile
Labels: build

#2975 ci: add slack alerting per gotest job failed on main branch
  .github/workflows/test.yml
Labels: github-actions

#3865 fix: add misspell check for linting codebase
  .golangci.yml
  server/events/event_parser_test.go
  server/events/project_command_context_builder.go
  server/events/vcs/instrumented_client.go
Labels: go

#3882 docs: Update the GitHub app installation instructions to include a section on manually creating a GitHub app and using it with Atlantis
  runatlantis.io/docs/access-credentials.md
Labels: docs
