Repository runatlantis/atlantis, pull requests merged in 2023-04, with the labels that each got.

#3272 fix(autoplan): modules for per-repo configs
  server/events/modules.go
  server/events/project_command_builder.go
  server/events/project_finder.go
  server/events/project_finder_test.go
Labels: go

#3001 refactor(atlantis-image): recombine with atlantis-base
  .github/workflows/atlantis-base.yml
  .github/workflows/atlantis-image.yml
  Dockerfile
  Dockerfile.dev
  docker-base/Dockerfile.alpine
  docker-base/Dockerfile.debian
Labels: build, refactoring, waiting-on-response, docker, github-actions

#3294 ci: fix pipefail in golang builder image
  Dockerfile
Labels: build

#3293 docs(bug): Add required docker version to ACI deployment docs
  runatlantis.io/docs/deployment.md
Labels: docs

#3321 fix: revert branch protection feature causing breaking change
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/testdata/github-branch-protection-require-linear-history.json
Labels: go, provider/github

#3317 fix(atlantis-image): add missing atlantis user in Debian image
  Dockerfile
  docker-compose.yml
Labels: build

#3324 ci: fix docker push logic when PR originates from fork
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3333 fix: alpine build failures, misc tweaks to cache
  Dockerfile
Labels: bug, build, docker

#3342 fix(ci): fix workflows to run when required to avoid empty required c…
  .github/workflows/atlantis-image.yml
  .github/workflows/codeql-required.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-required.yml
  .github/workflows/lint.yml
Labels: github-actions

#3302 feat: add PULL_URL to environment variables
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner.go
  server/core/runtime/pre_workflow_hook_runner_test.go
  server/core/runtime/run_step_runner.go
  server/core/runtime/run_step_runner_test.go
Labels: docs, go

#2706 feat: Github reaction emojis on PR comments
  cmd/server.go
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
  server/core/config/raw/repo_cfg.go
  server/core/config/valid/repo_cfg.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/github_client.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/server.go
  server/user_config.go
Labels: waiting-on-response, provider/azuredevops, go, needs tests, waiting-on-review, provider/bitbucket, provider/github, provider/gitlab

#3353 fix(atlantis-image): build atlantis image when all packages update
  .github/workflows/atlantis-image.yml
Labels: github-actions
