Repository runatlantis/atlantis, pull requests merged in 2023-03, with the labels that each got.

#3177 fix(docker): add prefix v to tags again
  .github/workflows/atlantis-image.yml
Labels: github-actions

#3185 fix(clone): omit checkout depth if it is zero
  server/events/working_dir.go
Labels: go

#3188 fix(clone): omit checkout depth if it is zero for `git fetch`
  server/events/working_dir.go
Labels: go

#3194 test(command-output): stabilize server jobs test
  server/jobs/project_command_output_handler_test.go
Labels: go

#3197 feat: add terraform 1.4
  Dockerfile
Labels: build

#3198 docs(using-atlantis): correct usage of -p for projects
  runatlantis.io/docs/using-atlantis.md
Labels: docs

#3204 fix: close stale issues after 2 months of inactivity
  .github/workflows/stale.yml
Labels: github-actions

#3206 typo
  runatlantis.io/docs/configuring-webhooks.md
Labels: docs

#3224 feat: schedule renovate daily
  .github/renovate.json5
Labels: github-actions

#3229 fix(website): rm redundant v prefix
  server/controllers/templates/web_templates.go
  server/core/terraform/terraform_client_test.go
  server/static/css/custom.css
Labels: go

#3233 fix(test): fix terraform ~> 1.3 resolution
  server/core/terraform/terraform_client_test.go
Labels: go

#3240 docs(typo): show `--tf-download` in server-configurations page
  runatlantis.io/docs/server-configuration.md
Labels: docs

#3242 Revert "chore(deps): update dependency @vuepress/plugin-docsearch to v2.0.0-beta.50-pre.1 in package.json"
  yarn.lock
Labels: dependencies, website

#3211 fix: allow `Require Linear History` when selecting merge method
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/testdata/github-branch-protection-require-linear-history.json
Labels: go, provider/github

#3246 Poll Gitlab until changes are available
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: go, provider/gitlab

#3257 deps: update goreleaser to 1.16.2
  .github/workflows/release.yml
Labels: github-actions

#3208 feat: Rotate Github App Token outside of Atlantis commands
  .gitignore
  docker-compose.yml
  server/events/apply_command_runner_test.go
  server/events/approve_policies_command_runner_test.go
  server/events/command_runner_test.go
  server/events/github_app_working_dir.go
  server/events/github_app_working_dir_test.go
  server/events/import_command_runner_test.go
  server/events/plan_command_runner_test.go
  server/events/pull_closed_executor_test.go
  server/events/vcs/gh_app_creds_rotator.go
  server/events/vcs/gh_app_creds_rotator_test.go
  server/events/vcs/git_cred_writer.go
  server/events/vcs/git_cred_writer_test.go
  server/scheduled/executor_service.go
  server/scheduled/executor_service_test.go
  server/scheduled/mocks/mock_executor_service_job.go
  server/server.go
Labels: go, provider/github, security

#3262 Tests should update only test-local git configuration files
  server/events/vcs/gh_app_creds_rotator_test.go
  server/events/vcs/git_cred_writer_test.go
Labels: go

#3187 fix(checkout-strategy): On `merge` strategy, reclone when necessary on base update
  server/events/working_dir.go
  server/events/working_dir_test.go
Labels: go

#3120 feat: Flag to disable custom `[Atlantis]` commit messages on PR merge
  server/events/vcs/azuredevops_client.go
  server/events/vcs/common/common.go
  server/events/vcs/common/common_test.go
  server/events/vcs/gitlab_client.go
Labels: waiting-on-response, provider/azuredevops, go, provider/gitlab

#3267 fix(workflows): use ** instead of **/* in paths
  .github/workflows/lint-required.yml
  .github/workflows/lint.yml
  .github/workflows/test-required.yml
  .github/workflows/test.yml
Labels: github-actions

#3261 fix(kustomize): Use k8s recommended name label
  kustomize/bundle.yaml
  runatlantis.io/docs/deployment.md
Labels: docs

#3277 fix(gitlab): Add backwards compatible mergability check
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: go, provider/gitlab
