Repository runatlantis/atlantis, pull requests merged in 2024-10, with the labels that each got.

#4996 fix: Update error messages when working with OpenTofu
  server/core/terraform/terraform_client.go
Labels: go, lgtm

#5028 docs: Adding new slack link
  CODE_OF_CONDUCT.md
  README.md
  runatlantis.io/index.md
Labels: docs, lgtm

#5030 chore: Fix Dockerfile FROM/AS Casing
  Dockerfile
Labels: build, docker, lgtm

#5031 chore: Enable VSCode Git Always Signoff
  .gitignore
  .vscode/settings.json
Labels: lgtm

#4980 fix: fix broken formatting of first comment in case of command output truncation
  server/events/vcs/github_client.go
Labels: bug, waiting-on-response, go, provider/github, lgtm

#5037 docs: add slack channel
  README.md
Labels: docs

#5023 docs: add an anchor for native env vars
  runatlantis.io/docs/custom-workflows.md
Labels: docs, lgtm
