Repository runatlantis/atlantis, pull requests merged in 2024-12, with the labels that each got.

#5148 docs: set license to official apache 2.0
  LICENSE
Labels: docs, lgtm

#5165 chore(deps): update `package-lock.json` and update website url checks
  .github/workflows/website.yml
  .tool-versions
  package-lock.json
  runatlantis.io/blog/2018/putting-the-dev-into-devops-why-your-developers-should-write-terraform-too.md
Labels: docs, dependencies, github-actions, website, blog

#5166 chore(deps): update alpine to 3.21.0, ca-certificates to 20241010, go/golangci-lint to latest
  .github/workflows/lint.yml
  Dockerfile
  e2e/go.mod
  go.mod
  server/events/vcs/github_client.go
  testing/Dockerfile
Labels: build, dependencies, go, docker, provider/github, github-actions, lgtm

#5178 chore: adding more detailed logs for policy approval
  server/events/project_command_runner.go
Labels: go, lgtm

#5158 feat: add image attestation workflow step
  .github/workflows/atlantis-image.yml
Labels: feature, docker, github-actions, lgtm

#5202 chore: fix typos
  CHANGELOG.md
  runatlantis.io/blog/2018/hosting-our-static-site-over-ssl-with-s3-acm-cloudfront-and-terraform.md
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  runatlantis.io/docs/repo-and-project-permissions.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/step_test.go
  server/core/config/raw/workflow_step_test.go
  server/core/config/valid/global_cfg.go
  server/core/locking/apply_locking.go
  server/core/runtime/plan_step_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner_test.go
  server/core/terraform/terraform_client_test.go
  server/events/markdown_renderer.go
  server/events/models/models.go
  server/events/project_command_builder.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/vcs/git_cred_writer_test.go
  server/events/vcs/github_client_test.go
Labels: docs, go, provider/github, blog, lgtm

#5203 chore: fix typo pt2
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/events/apply_command_runner_test.go
  server/events/command/project_context.go
  server/events/plan_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/project_command_pool_executor.go
Labels: go, lgtm

#5210 chore: migrate from `xanzy/go-gitlab` to `gitlab-org/api/client-go`
  e2e/gitlab.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
  server/controllers/events/gitlab_request_parser_validator.go
  server/controllers/events/gitlab_request_parser_validator_test.go
  server/events/command_runner.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_gitlab_merge_request_getter.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: dependencies, go, provider/gitlab, lgtm

#5207 feat: Sign Atlantis containers before release (bonus points: speed up x86 builds)
  .github/workflows/atlantis-image.yml
Labels: feature, docker, github-actions, lgtm

#5211 chore: bump opentofu to 1.8.8, add tf 1.9.8, and drop 1.6/1.7 support
  Dockerfile
Labels: build, docker, lgtm
