Repository runatlantis/atlantis, pull requests merged in 2024-02, with the labels that each got.

#4137 fix: unnamed jobs in ui
  server/controllers/templates/web_templates.go
  server/controllers/templates/web_templates_test.go
  server/events/models/models.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
  server/jobs/project_command_output_handler.go
  server/static/css/custom.css
Labels: bug, refactoring, waiting-on-response, quick-win, go, regression, ui

#4203 feat(docker): add terraform 1.7
  Dockerfile
Labels: build

#4217 feat: support go1.22
  .circleci/config.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  e2e/go.mod
  go.mod
  testing/Dockerfile
Labels: build, dependencies, github-actions

#4043 feat: migrate to use pnpm and add sitemapPlugin
  .github/labeler.yml
  .github/renovate.json5
  .github/workflows/website.yml
  .tool-versions
  CONTRIBUTING.md
  Makefile
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vuepress/config.js
  yarn.lock
Labels: dependencies, github-actions, website

#4223 chore(dockerfile): update to use 1.4.7,1.6.6
  Dockerfile
Labels: build

#4224 chore(renovate): update renovate config for dockerfile
  Dockerfile
Labels: build

#4192 feat: Add logic for project name into lock
  server/core/db/boltdb_test.go
  server/core/locking/locking_test.go
  server/core/redis/redis_test.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/models/models.go
  server/events/models/models_test.go
  server/events/project_command_runner.go
  server/events/project_finder.go
  server/events/pull_closed_executor_test.go
Labels: go

#4238 fix(docs): Minor spelling of webhooks
  runatlantis.io/docs/access-credentials.md
Labels: docs

#4257 chore(deps): Update xterm.js to v5.3.0 and enable Smooth Scrolling
  server/controllers/templates/web_templates.go
  server/static/css/xterm-5.3.0.css
  server/static/js/xterm-4.9.0.js
  server/static/js/xterm-5.3.0.js
  server/static/js/xterm-addon-attach-0.6.0.js
  server/static/js/xterm-addon-attach-0.9.0.js
  server/static/js/xterm-addon-fit-0.4.0.js
  server/static/js/xterm-addon-fit-0.8.0.js
  server/static/js/xterm-addon-search-0.13.0.js
  server/static/js/xterm-addon-search-0.7.0.js
Labels: go

#4281 docs: Clarify doc regarding automerging
  runatlantis.io/docs/automerging.md
Labels: docs

#4285 feat: Refine The Atlantis VCS Logging Configuration
  server/controllers/api_controller.go
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/events_controller_test.go
  server/controllers/github_app_controller.go
  server/controllers/locks_controller.go
  server/controllers/locks_controller_test.go
  server/core/runtime/pull_approved_checker.go
  server/events/apply_command_runner.go
  server/events/apply_command_runner_test.go
  server/events/approve_policies_command_runner.go
  server/events/automerger.go
  server/events/command_runner.go
  server/events/command_runner_internal_test.go
  server/events/command_runner_test.go
  server/events/commit_status_updater.go
  server/events/commit_status_updater_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/import_command_runner.go
  server/events/import_command_runner_test.go
  server/events/instrumented_pull_closed_executor.go
  server/events/mocks/mock_azuredevops_pull_getter.go
  server/events/mocks/mock_command_requirement_handler.go
  server/events/mocks/mock_commit_status_updater.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_github_pull_getter.go
  server/events/mocks/mock_gitlab_merge_request_getter.go
  server/events/mocks/mock_pull_cleaner.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
  server/events/policy_check_command_runner.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/pull_closed_executor.go
  server/events/pull_closed_executor_test.go
  server/events/pull_updater.go
  server/events/unlock_command_runner.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/azuredevops_client_test.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketcloud/client_test.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/bitbucketserver/client_test.go
  server/events/vcs/client.go
  server/events/vcs/gh_app_creds_rotator_test.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/github_credentials_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/mocks/mock_pull_req_status_fetcher.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/events/vcs/pull_status_fetcher.go
Labels: feature, quick-win, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab

#4289 docs: update atlantis ref link on infracost.io
  runatlantis.io/docs/post-workflow-hooks.md
Labels: bug, docs

#4221 chore: bump buildkit version to v0.12.5
  .github/workflows/atlantis-image.yml
  Dockerfile
Labels: build, security, github-actions

#4287 fix: update go version in go.mod
  go.mod
Labels: dependencies
