Repository runatlantis/atlantis, pull requests merged in 2024-06, with the labels that each got.

#4543 feat: add silence_pr_comments on plan and apply
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/raw/repo_cfg.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/events/apply_command_runner.go
  server/events/command/project_context.go
  server/events/command/project_result.go
  server/events/plan_command_runner.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
  server/events/pull_updater.go
Labels: feature, docs, go, waiting-on-review, ready to merge

#4630 docs: fix typo about Gitea
  runatlantis.io/guide/testing-locally.md
Labels: docs

#4633 docs: Remove todo and link to slack documentation
  runatlantis.io/docs/server-configuration.md
Labels: docs

#4642 chore: Remove link to survey
  README.md
  runatlantis.io/.vitepress/components/Banner.vue
  runatlantis.io/.vitepress/navbars.ts
Labels: docs, website

#4643 fix: add mermaid config
  .github/labeler.yml
  .github/renovate.json5
  .github/workflows/website.yml
  .gitignore
  .tool-versions
  CONTRIBUTING.md
  Makefile
  netlify.toml
  package-lock.json
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vitepress/config.ts
  runatlantis.io/docs/custom-workflows.md
Labels: docs, github-actions, website, size/l

#4654 chore: add toc vote info
  runatlantis.io/.vitepress/components/Banner.vue
Labels: website, size/xs

#4655 chore(deps): update sitemap-ts and vitepress
  package-lock.json
  package.json
Labels: website, size/s

#4650 fix: add app to the github app installation id
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/server.go
  server/user_config.go
Labels: bug, docs, go, provider/github

#4661 fix: badges on readme
  README.md
Labels: docs, size/xs

#4651 fix: Preventing merging without running atlantis apply on Gitlab
  server/events/plan_command_runner.go
Labels: bug, go, provider/gitlab

#4670 feat: goreleaser-action v6
  .github/workflows/release.yml
  .goreleaser.yml
Labels: github-actions, size/s

#4494 refactor: use `hc-install` for TF downloads + constraints
  go.mod
  go.sum
  server/controllers/events/events_controller_e2e_test.go
  server/core/runtime/policy/conftest_client_test.go
  server/core/terraform/mocks/mock_downloader.go
  server/core/terraform/mocks/mock_terraform_client.go
  server/core/terraform/terraform_client.go
  server/core/terraform/terraform_client_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_context_builder_test.go
Labels: refactoring, dependencies, go

#4672 chore: bump `moby/buildkit` to 0.14.0
  .github/workflows/atlantis-image.yml
Labels: github-actions, size/xs

#4673 feat: add blog post - Integrating Atlantis with Opentofu
  .github/labeler.yml
  runatlantis.io/.vitepress/sidebars.ts
  runatlantis.io/blog/2024/integrating-atlantis-with-opentofu.md
Labels: docs, github-actions, website, blog

#4684 fix(blog): fix blog post linting issue
  runatlantis.io/blog/2024/integrating-atlantis-with-opentofu.md
Labels: docs, size/s, blog

#4683 feat: bump action runner from ubuntu-22.04 to ubuntu-24.04
  .github/workflows/atlantis-image.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/renovate-config.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/testing-env-image.yml
  .github/workflows/website.yml
Labels: github-actions, size/s

#4693 docs: comment out banner
  runatlantis.io/.vitepress/components/Banner.vue
Labels: website, size/s

#3905 feat: Add `--max-comments-per-command` configuration
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/github_app_controller.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/common/common.go
  server/events/vcs/common/common_test.go
  server/events/vcs/gh_app_creds_rotator_test.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_internal_test.go
  server/events/vcs/github_client_test.go
  server/events/vcs/github_credentials_test.go
  server/events/vcs/gitlab_client.go
  server/server.go
  server/user_config.go
Labels: feature, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab, never-stale, breaking-change
