Repository runatlantis/atlantis, pull requests merged in 2024-09, with the labels that each got.

#4882 chore: remove GOVERNANCE in favor of the org one
  GOVERNANCE.md
Labels: size/s

#4870 fix: Resolve Rendering Issue in the Policy Check Results Template
  server/events/markdown_renderer_test.go
  server/events/templates/policy_check_results_wrapped.tmpl
Labels: go

#4864 feat: add ability to delegate authorization to external sources
  runatlantis.io/.vitepress/sidebars.ts
  runatlantis.io/docs/repo-and-project-permissions.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/team_authz.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/team_authz.go
  server/core/runtime/external_team_allowlist_runner.go
  server/core/runtime/mocks/mock_external_team_allowlist_runner.go
  server/events/command/context.go
  server/events/command/project_context.go
  server/events/command/team_allowlist_checker.go
  server/events/command/team_allowlist_checker_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/external_team_allowlist_checker.go
  server/events/external_team_allowlist_checker_test.go
  server/events/models/models.go
  server/events/project_command_builder.go
  server/events/project_command_context_builder.go
  server/events/team_allowlist_checker_test.go
  server/server.go
Labels: feature, go, website

#4893 fix: set yaml to prevent_self_approve
  server/core/config/raw/policies.go
Labels: bug, go

#4193 fix: GitHub mergeability bypassing apply
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/testdata/github-branch-protection-no-required-checks.json
  server/events/vcs/testdata/github-branch-protection-required-checks.json
  server/events/vcs/testdata/github-commit-check-suites-check-runs-completed.json
  server/events/vcs/testdata/github-commit-check-suites-completed.json
  server/events/vcs/testdata/github-commit-check-suites.json
  server/events/vcs/testdata/github-commit-status-full.json
  server/events/vcs/testdata/github-pull-request-mergeability/branch-protection-expected.json
  server/events/vcs/testdata/github-pull-request-mergeability/branch-protection-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/branch-protection-passed.json
  server/events/vcs/testdata/github-pull-request-mergeability/repository-id.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-atlantis-apply-pending.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-expected.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-neutral.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-passed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-pending.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-skipped.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-evaluate-workflow-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-optional-check-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-optional-status-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-workflow-expected.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-workflow-failed.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-workflow-passed-sha-match.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-workflow-passed-sha-mismatch.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-workflow-passed.json
Labels: go, needs discussion, waiting-on-review, provider/github

#4902 fix: Permission for GitHub app to support mergeable minus apply check
  runatlantis.io/docs/access-credentials.md
  server/controllers/github_app_controller.go
Labels: docs, go, provider/github

#4667 fix: dont log GitHub app token in logs
  server/events/vcs/gh_app_creds_rotator.go
Labels: go, security

#4903 fix: only lookup user team memberships if using team authz
  server/events/command_runner.go
Labels: go

#4907 docs: add openssf scorecard and badge
  .github/workflows/scorecard.yml
  README.md
Labels: docs, github-actions, size/s

#4885 chore: use markdown to display github comments truncation header
  server/events/vcs/github_client.go
Labels: go, provider/github, ready to merge

#4939 fix: Update lock for e2e tests
  scripts/pin_ci_terraform_providers.sh
  server/controllers/events/testdata/null_provider_lockfile_old_version
Labels: bug, dependencies, lgtm

#4940 fix: fix markdown lint errors
  pnpm-lock.yaml
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/repo-and-project-permissions.md
Labels: docs, dependencies, size/l

#4943 chore(deps): upgrade go-github 63.x
  e2e/github.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/events_controller_test.go
  server/controllers/events/github_request_validator.go
  server/events/apply_command_runner_test.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_github_pull_getter.go
  server/events/plan_command_runner_test.go
  server/events/vcs/github_client.go
  server/events/vcs/github_credentials.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_github_pull_request_getter.go
  server/events/vcs/testdata/fixtures.go
  testdrive/github.go
  testdrive/testdrive.go
Labels: dependencies, go, provider/github, size/s, lgtm

#4945 docs: add maintained releases to security text
  SECURITY.md
Labels: docs, size/xs, lgtm

#4955 ci: perm removal from testing-env-image
  .github/workflows/testing-env-image.yml
Labels: github-actions
