Repository runatlantis/atlantis, pull requests merged in 2024-04, with the labels that each got.

#4384 chore: Move Web Templates to External Files
  server/controllers/web_templates/templates/github-app.html.tmpl
  server/controllers/web_templates/templates/index.html.tmpl
  server/controllers/web_templates/templates/lock.html.tmpl
  server/controllers/web_templates/templates/project-jobs-error.html.tmpl
  server/controllers/web_templates/templates/project-jobs.html.tmpl
  server/controllers/web_templates/web_templates.go
Labels: go

#4391 docs: change ref to runatlantis registry
  runatlantis.io/docs/deployment.md
Labels: docs

#4402 fix: Atlantis Apply Fails on GitLab v16.10 When the Merge Request Branch Needs Rebasing
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/testdata/gitlab-detailed-merge-status-need-rebase.json
Labels: go, provider/gitlab

#4414 fix(deps): update module github.com/xanzy/go-gitlab to v0.102.0 in go.mod (main)
  go.mod
  go.sum
Labels: dependencies

#4419 chore(tf): bump to terraform 1.8.0
  .circleci/config.yml
  Dockerfile
  testdrive/utils.go
  testing/Dockerfile
Labels: build, go

#4424 feat(renovate): separate major, osv sec, best practices
  .github/renovate.json5
Labels: github-actions

#4435 chore: renovate both docker and go.mod in one pr
  .github/renovate.json5
  .github/workflows/atlantis-image.yml
Labels: github-actions

#4433 chore(docker): use golang tag so renovate maintains it
  Dockerfile
Labels: build

#4439 build: fix build terraform/opentofu build pathing
  Dockerfile
  scripts/download-release.sh
Labels: build

#4466 chore: Add link to survey
  README.md
Labels: docs

#4462 fix: GitHub tests emitting unexpected keepers = {}
  .github/workflows/test.yml
  Makefile
  scripts/fmt.sh
  server/controllers/events/testdata/test-repos/import-multiple-project/dir1/main.tf
  server/controllers/events/testdata/test-repos/import-multiple-project/dir2/main.tf
  server/controllers/events/testdata/test-repos/import-multiple-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-multiple-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/import-single-project-var/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-single-project-var/main.tf
  server/controllers/events/testdata/test-repos/import-single-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-single-project/main.tf
  server/controllers/events/testdata/test-repos/import-workspace/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/dir2/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/main.tf
  server/controllers/events/testdata/test-repos/state-rm-workspace/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-workspace/exp-output-plan-again.txt
Labels: github-actions

#4474 fix: Prevent download terraform with version 1.8.2 or higher
  server/core/terraform/terraform_client.go
  server/core/terraform/terraform_client_test.go
Labels: go

#4476 chore: Cherry-pick #4462 into release-0.27
  .github/workflows/test.yml
  Makefile
  scripts/fmt.sh
  server/controllers/events/testdata/test-repos/import-multiple-project/dir1/main.tf
  server/controllers/events/testdata/test-repos/import-multiple-project/dir2/main.tf
  server/controllers/events/testdata/test-repos/import-multiple-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-multiple-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/import-single-project-var/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-single-project-var/main.tf
  server/controllers/events/testdata/test-repos/import-single-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/import-single-project/main.tf
  server/controllers/events/testdata/test-repos/import-workspace/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/dir2/main.tf
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/state-rm-multiple-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/exp-output-autoplan.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/exp-output-plan-again.txt
  server/controllers/events/testdata/test-repos/state-rm-single-project/main.tf
  server/controllers/events/testdata/test-repos/state-rm-workspace/dir1/main.tf
  server/controllers/events/testdata/test-repos/state-rm-workspace/exp-output-plan-again.txt
Labels: github-actions

#4477 chore: Cherry pick #4376 into release 0.27
  Dockerfile
Labels: build, dependencies, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab, github-actions, website

#4475 chore: Cherry pick #4474 into release-0.27
  server/core/terraform/terraform_client.go
  server/core/terraform/terraform_client_test.go
Labels: go

#4412 chore: fix function names in comment
  server/controllers/events/events_controller.go
  server/core/redis/redis.go
  server/events/event_parser.go
Labels: go

#4457 chore(renovate): rm broken lock file maintenance
  .github/renovate.json5
Labels: github-actions
