Repository runatlantis/atlantis, pull requests merged in 2024-05, with the labels that each got.

#4141 fix: Use ISO 8601 date format
  server/controllers/web_templates/web_templates_test.go
  server/server.go
  server/server_test.go
Labels: feature, refactoring, quick-win, go, never-stale, breaking-change

#4482 feat: make api plan apply support workflow hooks
  server/controllers/api_controller.go
  server/controllers/api_controller_test.go
  server/events/command/context.go
  server/events/models/models.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
  server/server.go
Labels: api-endpoints, go, waiting-on-review

#4502 fix: os.Remove should ignore non existing errors
  server/core/runtime/apply_step_runner.go
  server/core/runtime/import_step_runner.go
  server/core/runtime/init_step_runner.go
  server/core/runtime/state_rm_step_runner.go
  server/events/pending_plan_finder.go
  server/events/working_dir.go
  server/utils/os.go
Labels: go

#4507 fix: Revert "chore(deps): update dependency @vuepress/theme-default to v2.0.0-rc.26 in package.json (main)"
  package.json
  pnpm-lock.yaml
Labels: website

#4511 feat: run playwright e2e tests
  .github/workflows/website.yml
  package.json
  playwright.config.js
  pnpm-lock.yaml
  runatlantis.io/e2e/site-check.spec.js
Labels: github-actions, website

#4521 docs: fix navbar issue
  package.json
  pnpm-lock.yaml
Labels: website

#4523 docs: refactor navbar and sidebar out of config
  .gitignore
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vuepress/config.js
  runatlantis.io/.vuepress/navbar.js
  runatlantis.io/.vuepress/sidebar.js
Labels: website

#4524 docs: typo in server-configuration.md
  runatlantis.io/docs/server-configuration.md
Labels: docs

#4525 fix(slack-hooks): updated example for atlantis configuration
  runatlantis.io/docs/using-slack-hooks.md
Labels: docs

#4503 fix: implement backoff + retry when GitLab SetCommitStatus returns 409
  go.mod
  go.sum
  server/events/vcs/gitlab_client.go
Labels: waiting-on-response, dependencies, go, needs tests, provider/gitlab

#4514 docs: Contributor Guide on the Website
  .gitignore
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vuepress/navbar.js
  runatlantis.io/.vuepress/sidebar.js
  runatlantis.io/contributing/README.md
  runatlantis.io/contributing/events-controller.md
  runatlantis.io/contributing/glossary.md
  runatlantis.io/contributing/images/events-controller.png
Labels: docs, website

#4530 feat: renovate deps in gh workflows
  .github/renovate.json5
Labels: github-actions, size/xs

#4529 fix(pr-size-labeler): increase size of xl threshold, disable fail
  .github/workflows/pr-size-labeler.yml
Labels: github-actions, size/s

#4534 chore(deps): terraform 1.8.3, opentofu 1.7.1, conftest 0.52.0
  Dockerfile
  server/controllers/web_templates/mocks/mock_template_writer.go
  server/core/runtime/mocks/mock_pull_approved_checker.go
  server/events/mocks/mock_event_parsing.go
  server/events/vcs/mocks/mock_github_pull_request_getter.go
Labels: build, go, provider/github, size/s

#4515 feat: migrate off vuepress to vitepress
  .github/labeler.yml
  .github/workflows/website.yml
  .gitignore
  .tool-versions
  README.md
  netlify.toml
  package.json
  playwright.config.cjs
  pnpm-lock.yaml
  runatlantis.io/.vitepress/config.ts
  runatlantis.io/.vitepress/navbars.ts
  runatlantis.io/.vitepress/sidebars.ts
  runatlantis.io/.vitepress/theme/index.scss
  runatlantis.io/.vitepress/theme/index.ts
  runatlantis.io/.vitepress/theme/palette.scss
  runatlantis.io/.vuepress/config.js
  runatlantis.io/.vuepress/navbar.js
  runatlantis.io/.vuepress/public/certificate.svg
  runatlantis.io/.vuepress/public/checkmark.svg
  runatlantis.io/.vuepress/public/coding.svg
  runatlantis.io/.vuepress/public/list.svg
  runatlantis.io/.vuepress/public/mobile-workflow-min.png
  runatlantis.io/.vuepress/public/powerful.svg
  runatlantis.io/.vuepress/public/workflow-min.png
  runatlantis.io/.vuepress/sidebar.js
  runatlantis.io/.vuepress/theme/components/Home.vue
  runatlantis.io/README.md
  runatlantis.io/contributing.md
  runatlantis.io/docs.md
  runatlantis.io/docs/README.md
  runatlantis.io/e2e/site-check.spec.js
  runatlantis.io/guide.md
  runatlantis.io/guide/testing-locally.md
  runatlantis.io/index.md
  runatlantis.io/public/apple-touch-icon-114x114.png
  runatlantis.io/public/apple-touch-icon-120x120.png
  runatlantis.io/public/apple-touch-icon-144x144.png
  runatlantis.io/public/apple-touch-icon-152x152.png
  runatlantis.io/public/apple-touch-icon-57x57.png
  runatlantis.io/public/apple-touch-icon-60x60.png
  runatlantis.io/public/apple-touch-icon-72x72.png
  runatlantis.io/public/apple-touch-icon-76x76.png
  runatlantis.io/public/favicon-128.png
  runatlantis.io/public/favicon-16x16.png
  runatlantis.io/public/favicon-196x196.png
  runatlantis.io/public/favicon-32x32.png
  runatlantis.io/public/favicon-96x96.png
  runatlantis.io/public/favicon.ico
  runatlantis.io/public/hero.png
  runatlantis.io/public/hightower-super-dope.svg
  runatlantis.io/public/mstile-144x144.png
  runatlantis.io/public/mstile-150x150.png
  runatlantis.io/public/mstile-310x150.png
  runatlantis.io/public/mstile-310x310.png
  runatlantis.io/public/mstile-70x70.png
  server/events/vcs/azuredevops_client.go
Labels: docs, provider/azuredevops, go, github-actions, website, size/l

#4549 feat(docs): add editLink config
  runatlantis.io/.vitepress/config.ts
Labels: website, size/xs

#4550 fix: fix nav bar typo with `Glossary`
  runatlantis.io/.vitepress/sidebars.ts
Labels: website

#4551 fix(docs): fix left navbar menu items
  runatlantis.io/.vitepress/sidebars.ts
  runatlantis.io/docs.md
  runatlantis.io/docs/pre-workflow-hooks.md
  runatlantis.io/docs/server-side-repo-config.md
  runatlantis.io/guide.md
Labels: docs, website

#4552 fix(docs): move TOC to the right nav bar to free up vertical space
  runatlantis.io/.vitepress/config.ts
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/docs/configuring-webhooks.md
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/deployment.md
  runatlantis.io/docs/locking.md
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/requirements.md
  runatlantis.io/docs/security.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/server-side-repo-config.md
  runatlantis.io/docs/terraform-cloud.md
  runatlantis.io/docs/using-atlantis.md
  runatlantis.io/guide/testing-locally.md
Labels: docs, website

#4554 fix: update hero img loc
  README.md
  server/events/vcs/azuredevops_client.go
Labels: docs, provider/azuredevops, go, size/xs

#4555 feat(docs): add site banner for survey
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vitepress/components/Banner.vue
  runatlantis.io/.vitepress/components/shims.d.ts
  runatlantis.io/.vitepress/config.ts
  runatlantis.io/.vitepress/theme/index.ts
Labels: website, size/s

#4556 feat(docs): create robots.txt and update sitemap.xml
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vitepress/config.ts
Labels: website, size/s

#4557 fix(docs): add markdownlint and apply rules
  .editorconfig
  .github/workflows/website.yml
  .markdownlint.yaml
  package.json
  runatlantis.io/contributing.md
  runatlantis.io/contributing/events-controller.md
  runatlantis.io/docs.md
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/api-endpoints.md
  runatlantis.io/docs/automerging.md
  runatlantis.io/docs/autoplanning.md
  runatlantis.io/docs/checkout-strategy.md
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/docs/configuring-atlantis.md
  runatlantis.io/docs/configuring-webhooks.md
  runatlantis.io/docs/custom-policy-checks.md
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/deployment.md
  runatlantis.io/docs/faq.md
  runatlantis.io/docs/how-atlantis-works.md
  runatlantis.io/docs/installation-guide.md
  runatlantis.io/docs/locking.md
  runatlantis.io/docs/policy-checking.md
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  runatlantis.io/docs/provider-credentials.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/requirements.md
  runatlantis.io/docs/security.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/server-side-repo-config.md
  runatlantis.io/docs/stats.md
  runatlantis.io/docs/streaming-logs.md
  runatlantis.io/docs/terraform-cloud.md
  runatlantis.io/docs/terraform-versions.md
  runatlantis.io/docs/troubleshooting-https.md
  runatlantis.io/docs/upgrading-atlantis-yaml.md
  runatlantis.io/docs/using-atlantis.md
  runatlantis.io/docs/using-slack-hooks.md
  runatlantis.io/docs/webhook-secrets.md
  runatlantis.io/guide/test-drive.md
  runatlantis.io/guide/testing-locally.md
Labels: docs, github-actions, website

#4559 fix(docs): fix placement of top header
  runatlantis.io/.vitepress/theme/index.scss
Labels: website

#4560 fix(docs): fix home header width so the menu doesn't jump around when navigating
  runatlantis.io/.vitepress/theme/index.scss
Labels: website

#4563 fix(docs): update lockfile and fix search
  pnpm-lock.yaml
Labels: website, size/m

#4561 fix(docs): remove old stylesheets
  runatlantis.io/.vitepress/theme/index.scss
  runatlantis.io/.vitepress/theme/index.ts
  runatlantis.io/.vitepress/theme/palette.scss
Labels: website

#4565 fix: renovate dockerfile handling
  .github/renovate.json5
  Dockerfile
Labels: build, github-actions

#3879 feat: Add option to lock on apply instead of plan
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/parser_validator_test.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/raw/project_test.go
  server/core/config/raw/repo_cfg.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/raw/repo_locks.go
  server/core/config/raw/repo_locks_test.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/global_cfg_test.go
  server/core/config/valid/repo_cfg.go
  server/core/config/valid/repo_locks.go
  server/events/command/project_context.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/vcs/github_client.go
Labels: feature, docs, go, waiting-on-review, provider/github

#4574 fix(docs): Add link to Survey in top bar
  runatlantis.io/.vitepress/navbars.ts
Labels: website

#4548 fix: implement tests for gitlab client 409 Conflict handling
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: go, provider/gitlab

#4443 fix: apply strip_refreshing to output for errors
  server/core/runtime/run_step_runner.go
Labels: go, waiting-on-review

#4459 feat: add goss testing for the docker image
  .github/workflows/atlantis-image.yml
  goss.yaml
Labels: waiting-on-review, docker, github-actions

#4434 chore(renovate): set minimumReleaseAge for 5 days
  .github/renovate.json5
Labels: github-actions, size/xs, ready to merge

#4588 fix: update netlify build
  .tool-versions
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: website, size/m

#4587 fix(workflows): switch to use `github.repository_owner` to fix forked pr failures
  .github/workflows/test.yml
Labels: github-actions, size/xs

#4579 fix: support gh-installation-id flag and fix #4578 #1229 #3545
  cmd/server.go
  cmd/server_test.go
  e2e/go.mod
  go.mod
  go.sum
  runatlantis.io/docs/server-configuration.md
  server/events/mock_workingdir_test.go
  server/events/vcs/github_credentials.go
  server/events/vcs/github_credentials_test.go
  server/events/vcs/testdata/fixtures.go
  server/server.go
  server/user_config.go
Labels: docs, dependencies, go, provider/github

#4378 feat: do not react with emoji if "EmojiReaction" flag is empty
  cmd/server.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller.go
Labels: refactoring, docs, go, ready to merge

#4377 docs: Add --no-fail to custom policy execution in policy-checking.md
  runatlantis.io/docs/policy-checking.md
Labels: docs, waiting-on-review

#4592 fix(worfklows): bypass e2e checks for forked prs
  .github/workflows/test.yml
Labels: docs, github-actions

#4594 fix(e2e): try different check for bypass e2e tests on forked changes
  .github/workflows/test.yml
Labels: github-actions

#4599 fix: fix docker base image sha
  Dockerfile
  testing/Dockerfile
Labels: bug, build, size/xs

#4601 fix: cherry-pick e2e test fixes (#4592 #4594) (release-0.28)
  .github/workflows/test.yml
Labels: github-actions, size/xs

#4608 feat: replace events-controller.png with mermaid diagram
  runatlantis.io/contributing/events-controller.md
  runatlantis.io/contributing/images/events-controller.png
Labels: docs, size/s

#4607 chore: cherry-pick #4576 (e2e update) into release-0.27 (release-0.27)
  .circleci/config.yml
  .github/workflows/test.yml
  e2e/.gitconfig
  e2e/main.go
  scripts/e2e-deps.sh
  scripts/e2e.sh
Labels: go, github-actions

#4612 chore(release): remove pre-release refs
  .github/workflows/atlantis-image.yml
  .github/workflows/release.yml
Labels: github-actions, size/xs

#4422 feat: optionally hide multienv output
  runatlantis.io/docs/custom-workflows.md
  server/core/config/raw/step.go
  server/core/config/raw/step_test.go
  server/core/runtime/multienv_step_runner.go
  server/core/runtime/multienv_step_runner_test.go
  server/events/project_command_runner.go
Labels: feature, docs, go, ready to merge
