Repository runatlantis/atlantis, pull requests merged in 2024-03, with the labels that each got.

#4169 revert: regression: remote ops detection TF v1.1
  server/core/runtime/plan_step_runner.go
  server/core/runtime/plan_step_runner_test.go
Labels: bug, go

#4177 fix: improve git error log while running 'atlantis apply'
  server/events/pending_plan_finder.go
  server/events/pending_plan_finder_test.go
Labels: feature, waiting-on-response, quick-win, go, needs tests, Stale

#4350 docs: Update broken slack link
  README.md
Labels: docs

#4363 fix: auto-discover workspaces when in subdirectories
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
Labels: bug, quick-win, go, provider/terraform-cloud

#4376 fix(deps): Update alpine ca-certificates package version to 20240226-r0 in Dockerfile
  Dockerfile
Labels: build

#4341 feat: add opentofu binary to container
  .dockerignore
  Dockerfile
  scripts/download-release.sh
Labels: feature, build, github-actions

#4385 fix: Sort results in command builder before comparing
  server/events/project_command_builder_test.go
Labels: go

#4383 chore: Rename templates package to web_templates
  server/controllers/github_app_controller.go
  server/controllers/jobs_controller.go
  server/controllers/locks_controller.go
  server/controllers/locks_controller_test.go
  server/controllers/web_templates/mocks/mock_template_writer.go
  server/controllers/web_templates/web_templates.go
  server/controllers/web_templates/web_templates_test.go
  server/server.go
  server/server_test.go
Labels: go, provider/github

#4382 fix: Make PolicyCheckSummary rendering optional
  server/events/templates/policy_check_results_wrapped.tmpl
Labels: bug, refactoring, quick-win, conftest-policy

#4294 feat: Refine the logging in the Working Dir Package
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/locks_controller.go
  server/controllers/locks_controller_test.go
  server/events/command_requirement_handler.go
  server/events/command_requirement_handler_test.go
  server/events/command_runner_test.go
  server/events/delete_lock_command.go
  server/events/delete_lock_command_test.go
  server/events/github_app_working_dir.go
  server/events/github_app_working_dir_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_delete_lock_command.go
  server/events/mocks/mock_working_dir.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/pull_closed_executor.go
  server/events/pull_closed_executor_test.go
  server/events/unlock_command_runner.go
  server/events/vcs/github_client.go
  server/events/working_dir.go
  server/events/working_dir_test.go
  server/server.go
Labels: feature, refactoring, go, provider/github

#4389 chore: Markdown Renderer Test Fix
  server/events/markdown_renderer_test.go
Labels: go

#4303 docs: Fix docs website build
  .github/workflows/website.yml
  package.json
  pnpm-lock.yaml
  runatlantis.io/.vuepress/config.js
  runatlantis.io/.vuepress/theme/index.js
  runatlantis.io/docs/README.md
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/api-endpoints.md
  runatlantis.io/docs/apply-requirements.md
  runatlantis.io/docs/autoplanning.md
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/docs/configuring-atlantis.md
  runatlantis.io/docs/custom-workflows.md
  runatlantis.io/docs/deployment.md
  runatlantis.io/docs/how-atlantis-works.md
  runatlantis.io/docs/installation-guide.md
  runatlantis.io/docs/policy-checking.md
  runatlantis.io/docs/post-workflow-hooks.md
  runatlantis.io/docs/pre-workflow-hooks.md
  runatlantis.io/docs/provider-credentials.md
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/requirements.md
  runatlantis.io/docs/security.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/server-side-repo-config.md
  runatlantis.io/docs/stats.md
  runatlantis.io/docs/terraform-versions.md
  runatlantis.io/docs/troubleshooting-https.md
  runatlantis.io/docs/upgrading-atlantis-yaml.md
  runatlantis.io/docs/using-atlantis.md
  runatlantis.io/docs/using-slack-hooks.md
  runatlantis.io/docs/webhook-secrets.md
  runatlantis.io/guide/README.md
  runatlantis.io/guide/test-drive.md
  runatlantis.io/guide/testing-locally.md
Labels: docs, waiting-on-review, github-actions, website
