Repository runatlantis/atlantis, pull requests merged in 2024-11, with the labels that each got.

#4895 feat(automerge): implement GitHub --auto-merge-method flag for apply command
  runatlantis.io/docs/automerging.md
  runatlantis.io/docs/using-atlantis.md
  server/core/config/valid/global_cfg.go
  server/events/apply_command_runner.go
  server/events/automerger.go
  server/events/comment_parser.go
  server/events/comment_parser_test.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_comment_building.go
  server/events/models/models.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: feature, waiting-on-response, docs, dependencies, go, provider/github

#4974 fix: Ignore apply check(s) even if missing from rollup when determining mergeability for GitHub
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-atlantis-apply-expected.json
Labels: bug, go, provider/github, lgtm

#4978 feat: add ignore-vcs-status-names (github only)
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/events/command_runner_test.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/azuredevops_client_test.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketcloud/client_test.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/gitea/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/instrumented_client.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/events/vcs/pull_status_fetcher.go
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-failed-other-atlantis.json
  server/events/vcs/testdata/github-pull-request-mergeability/ruleset-check-pending-other-atlantis.json
  server/server.go
  server/user_config.go
Labels: feature, waiting-on-response, docs, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab, lgtm

#4913 fix: Run dumb-init with --single-child for graceful termination
  Dockerfile
  docker-entrypoint.sh
Labels: build, lgtm

#4928 feat: GitHub - Support loading git token from disk
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/events/vcs/git_cred_writer.go
  server/events/vcs/github_client_internal_test.go
  server/events/vcs/github_client_test.go
  server/events/vcs/github_credentials.go
  server/events/vcs/github_token_rotator.go
  server/events/vcs/github_token_rotator_test.go
  server/server.go
  server/user_config.go
Labels: waiting-on-response, docs, go, provider/github, lgtm

#5059 chore(docs): Fix formatting on server-configuration.md
  runatlantis.io/docs/server-configuration.md
Labels: docs

#5061 chore(docs): Fix formatting on server-configuration.md
  runatlantis.io/docs/server-configuration.md
Labels: docs

#5065 chore(docs): Fix Using Atlantis Merge Method Link
  runatlantis.io/docs/using-atlantis.md
Labels: docs

#5066 chore(workflow): Fix Website GitHub Workflow link-check Job Filter
  .github/workflows/website.yml
Labels: github-actions, website, lgtm

#5068 chore(docs): Fix formatting on provider-credentials.md
  runatlantis.io/docs/provider-credentials.md
Labels: docs, lgtm

#5069 chore: Add User Agent to Website Link GitHub Check Muffet Step
  .github/workflows/website.yml
Labels: github-actions, website, lgtm

#5067 fix: GitHub - Support Token File for Git Commands
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/server.go
Labels: go, lgtm

#5078 fix: code scanning alert no. 12: Reflected cross-site scripting
  server/controllers/events/events_controller.go
Labels: go, security, lgtm

#5033 fix: Change GitLab `UpdateStatus` Function to get Pipeline from Commit rather than the Merge Request
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: bug, go, provider/gitlab, lgtm

#5095 chore: Delete pnpm-lock.yaml file
  pnpm-lock.yaml
Labels: lgtm

#5064 fix: rendering of merge emoji when upstream was modified
  server/events/templates/plan_success_wrapped.tmpl
Labels: lgtm

#5102 chore: Markdown Renderer Test Fix (release-0.27)
  server/events/markdown_renderer_test.go
Labels: go, lgtm
