Repository runatlantis/atlantis, pull requests merged in 2024-08, with the labels that each got.

#4806 fix: Add Template Files to CI Test Job Filters
  .github/workflows/test.yml
Labels: github-actions

#4814 chore: revert "fix: added a space line"
  server/events/templates/policy_check_results_wrapped.tmpl
Labels: size/xs

#4805 fix: Bump `hc-install` to get upstream fix
  go.mod
  go.sum
Labels: dependencies

#4785 fix: send pipelineID in gitlabs SetCommitStatus if the mr gets found, fallback to branch ref
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
Labels: bug, go, provider/gitlab

#4794 feat: selfapprove flag for approving policies
  runatlantis.io/docs/policy-checking.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/raw/policies.go
  server/core/config/valid/policies.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
Labels: feature, docs, go

#4835 feat: Log error on cleanup in e2e
  e2e/e2e.go
Labels: go, size/xs, e2e

#4836 chore: Make e2e tests more vcs agnostic
  e2e/e2e.go
  e2e/github.go
  e2e/vcs.go
Labels: go, size/s, e2e

#4837 feat(docs): add aws provider contextual tags using env vars
  runatlantis.io/docs/custom-workflows.md
Labels: docs, size/s

#4840 chore: Improve process management in e2e test
  scripts/e2e.sh
Labels: size/s

#4843 chore: bump to use go 1.23.0
  .github/workflows/lint.yml
  .tool-versions
  Dockerfile
  e2e/go.mod
  go.mod
  go.sum
  server/controllers/api_controller.go
  server/controllers/events/events_controller.go
  server/controllers/jobs_controller.go
  testing/Dockerfile
Labels: build, dependencies, go, github-actions, size/s

#4853 chore(docs): add notes to default tags
  runatlantis.io/docs/custom-workflows.md
Labels: docs, size/s
