Repository runatlantis/atlantis, pull requests merged in 2024-01, with the labels that each got.

#4110 chore: fix linting issues
  server/core/config/parser_validator_test.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/repo_branch_test.go
Labels: go

#4158 feat(4157): adding option to hide UI button to disable apply commands
  cmd/server.go
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/templates/web_templates.go
  server/core/locking/apply_locking.go
  server/core/locking/locking_test.go
  server/server.go
  server/user_config.go
Labels: feature, go, ui

#4172 chore: Upgrade yaml v3
  cmd/server_test.go
  go.mod
  go.sum
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/autodiscover_test.go
  server/core/config/raw/autoplan_test.go
  server/core/config/raw/metrics_test.go
  server/core/config/raw/policies_test.go
  server/core/config/raw/project_test.go
  server/core/config/raw/raw_test.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/raw/stage_test.go
  server/core/config/raw/step_test.go
  server/core/config/raw/workflow_step_test.go
  server/core/config/raw/workflow_test.go
Labels: dependencies, go

#4183 chore: Add missing flag test for DisableGlobalApplyLockFlag
  cmd/server_test.go
Labels: go

#4182 feat: Prevent unused flags
  cmd/server_test.go
  server/user_config.go
Labels: feature, go
