Repository runatlantis/atlantis, pull requests merged in 2024-07, with the labels that each got.

#4720 chore: 12.5-slim tag is no longer receiving updates, switch to 12.6-slim
  Dockerfile
Labels: bug, build, quick-win, dependencies, docker

#4721 revert: "fix: Preventing merging without running atlantis apply on Gitlab"
  server/events/plan_command_runner.go
Labels: go, size/xs

#4731 chore: do not store context in struct for e2e tests
  e2e/e2e.go
  e2e/github.go
  e2e/main.go
Labels: go, e2e

#4732 chore: make e2e code generic to vcs
  e2e/e2e.go
  e2e/github.go
  e2e/main.go
  e2e/vcs.go
Labels: go, e2e

#4738 chore: correct typo in error printing
  testdrive/testdrive.go
Labels: go

#4741 chore(deps): bump to tf 1.9.2
  .github/workflows/test.yml
  Dockerfile
  testing/Dockerfile
Labels: build, github-actions, size/s

#4759 fix: Apkfix-cherrypick-0.28
  Dockerfile
  go.mod
  testing/Dockerfile
Labels: build, dependencies, size/s

#4773 chore(deps): ngrok 3.13.0
  .github/workflows/test.yml
Labels: github-actions, size/xs

#4774 chore(deps): track alpine ca-certificates dep
  Dockerfile
Labels: build, size/xs
