Repository runatlantis/atlantis, pull requests merged in 2025-05, with the labels that each got.

#5363 feat: add HTTP pprof endpoints
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/api-endpoints.md
  runatlantis.io/docs/server-configuration.md
  server/server.go
  server/user_config.go
Labels: feature, docs, go, lgtm

#5591 fix: Remove GitHub rate-limit client total sleep limit
  server/events/vcs/github_client.go
Labels: go, provider/github, lgtm

#5596 feat: enable compatible change for legacy and new ADO url
  runatlantis.io/docs/server-configuration.md
  server/events/event_parser.go
  server/events/event_parser_test.go
Labels: feature, docs, provider/azuredevops, go, lgtm
