Repository runatlantis/atlantis, pull requests merged in 2025-02, with the labels that each got.

#5242 fix: Pre Workflow Hook VCS Combined Status Check Set to Pending Twice
  server/controllers/api_controller.go
  server/controllers/api_controller_test.go
  server/controllers/events/events_controller_e2e_test.go
  server/events/apply_command_runner.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/plan_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
Labels: bug, go, lgtm

#5288 fix: Workspace Error when include-git-untracked-files is true
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
Labels: bug, go, lgtm

#5290 chore: Add doc for how to rotate gitlab token
  e2e/README.md
Labels: docs, lgtm

#5291 chore: Remove usage of errors.Cause
  server/events/project_command_builder.go
Labels: refactoring, go, lgtm

#5294 fix: Minor bug in determining teams for gitlab
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/testdata/gitlab-user-multiple.json
  server/events/vcs/testdata/gitlab-user-none.json
Labels: bug, go, provider/gitlab, lgtm

#5289 chore: Add Close Calls to BoltDB Tests to fix Windows Test Errors
  server/core/db/boltdb.go
  server/core/db/boltdb_test.go
  server/events/apply_command_runner_test.go
  server/events/command_runner_test.go
  server/events/delete_lock_command_test.go
  server/events/plan_command_runner_test.go
  server/events/pull_closed_executor_test.go
Labels: go, lgtm

#3584 fix: ensure cloning workingdir before calling plan api
  server/controllers/api_controller.go
  server/controllers/api_controller_test.go
  server/server.go
Labels: build, waiting-on-response, docs, dependencies, provider/azuredevops, api-endpoints, go, needs discussion, provider/bitbucket, provider/github, provider/gitlab, github-actions, website, blog, lgtm

#5304 chore(goreleaser): update for deprecated attributes
  .goreleaser.yml
Labels: build, lgtm

#5293 chore: Refactor retries in gitlab set status
  server/events/vcs/gitlab_client.go
Labels: refactoring, go, provider/gitlab, lgtm

#5312 fix: Unintentional nil errors in azuredevops client
  server/events/vcs/azuredevops_client.go
Labels: bug, provider/azuredevops, go, lgtm

#5308 feat(post-workflow-hook): pass the result status of executed command to the post hook envs
  runatlantis.io/docs/post-workflow-hooks.md
  server/core/runtime/post_workflow_hook_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/events/apply_command_runner.go
  server/events/apply_command_runner_test.go
  server/events/command/context.go
  server/events/models/models.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
Labels: feature, waiting-on-response, docs, dependencies, go, github-actions, lgtm

#5309 chore: Add nil checks before returning wrapped error
  server/controllers/events/events_controller.go
  server/controllers/websocket/mux.go
  server/core/db/boltdb.go
  server/core/redis/redis.go
  server/core/runtime/models/shell_command_runner.go
  server/events/pending_plan_finder.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/gitlab_client.go
  server/server.go
  testdrive/testdrive.go
Labels: refactoring, provider/azuredevops, go, provider/gitlab, lgtm

#5327 docs: Update --emoji-reactions Documentation
  runatlantis.io/docs/server-configuration.md
Labels: docs, lgtm

#5328 feat: New API endpoint to list locks
  runatlantis.io/docs/api-endpoints.md
  server/controllers/api_controller.go
  server/controllers/api_controller_test.go
  server/server.go
Labels: feature, docs, dependencies, api-endpoints, go, github-actions

#5336 chore(website): Update Slack Links to use CNCF Vanity URL
  CODE_OF_CONDUCT.md
  README.md
  runatlantis.io/.vitepress/config.ts
  runatlantis.io/blog.md
  runatlantis.io/blog/2018/joining-hashicorp.md
  runatlantis.io/index.md
Labels: docs, website, blog, lgtm

#5298 fix: Add pagination to AzureDevops modified files call
  go.mod
  go.sum
  server/controllers/events/azuredevops_request_validator.go
  server/controllers/events/events_controller.go
  server/controllers/events/events_controller_test.go
  server/events/command_runner.go
  server/events/event_parser.go
  server/events/event_parser_test.go
  server/events/mocks/mock_azuredevops_pull_getter.go
  server/events/mocks/mock_event_parsing.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/azuredevops_client_test.go
  server/events/vcs/testdata/fixtures.go
Labels: waiting-on-response, docs, dependencies, provider/azuredevops, go, lgtm

#5342 chore(deps): update deps for vitepress
  .node-version
  .tool-versions
  package-lock.json
  package.json
Labels: dependencies, website, lgtm

#5341 docs: update gitlab links
  e2e/gitlab.go
  runatlantis.io/contributing/events-controller.md
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/guide/testing-locally.md
Labels: docs, go, lgtm

#5343 chore(deps): bump ngrok to 3.19.1
  .github/workflows/test.yml
Labels: dependencies, github-actions

#5346 fix: update cncf invite link
  README.md
Labels: docs, lgtm

#5337 chore(website): Update link checker to use Lychee
  .github/workflows/website.yml
  .lycheeignore
Labels: docs, github-actions, website, blog, lgtm

#5356 chore(website): add trademark footer note
  Makefile
  runatlantis.io/.vitepress/config.ts
Labels: website, lgtm

#5361 chore: configure new CNCF GA4 analytics ID
  runatlantis.io/.vitepress/config.ts
Labels: website, lgtm
