Repository runatlantis/atlantis, pull requests merged in 2025-07, with the labels that each got.

#5681 fix: use the official ngrok image
  CONTRIBUTING.md
  docker-compose.yml
Labels: docker-compose, lgtm

#5677 docs: add specific permissions required for GitHub PATs
  runatlantis.io/docs/access-credentials.md
Labels: docs, lgtm

#5685 build: bump ca-certificates to 20250619-r0
  Dockerfile
Labels: dependencies, docker, lgtm

#5683 revert: "convert gopkg.in/yaml.v3 to goccy/go-yaml (#5579)"
  cmd/server_test.go
  go.mod
  go.sum
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/policies_test.go
  server/core/config/raw/raw_test.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/raw/step_test.go
  server/core/config/raw/workflow_step_test.go
Labels: dependencies, go
