Repository runatlantis/atlantis, pull requests merged in 2025-06, with the labels that each got.

#5570 fix: preserve Atlantis apply lock after plan
  server/events/command_runner_test.go
  server/events/plan_command_runner.go
Labels: bug, go, lgtm

#5632 fix(docs): generate release notes
  .github/release.yml
Labels: github-actions, lgtm

#5579 chore(deps): Convert go yaml to goccy yaml
  cmd/server_test.go
  go.mod
  go.sum
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/policies_test.go
  server/core/config/raw/raw_test.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/raw/step_test.go
  server/core/config/raw/workflow_step_test.go
Labels: dependencies, go, lgtm

#5584 ci: release branches for security updates only
  .github/renovate.json5
  .github/workflows/renovate-config.yml
Labels: github-actions, lgtm

#5633 docs: add release cadence document
  RELEASE_CADENCE.md
Labels: docs, lgtm
