Repository runatlantis/atlantis, pull requests merged in 2025-08, with the labels that each got.

#5659 feat: Comment on pull request if pre-workflow hooks fail
  server/controllers/events/testdata/null_provider_lockfile_old_version
  server/events/command_runner.go
  server/events/command_runner_test.go
Labels: feature, build, docs, dependencies, go, github-actions, website, lgtm

#5705 fix: correct version annotations and remove non-existent flags from docs
  runatlantis.io/docs/server-configuration.md
Labels: docs, size/s

#5714 docs: replace version badges with comments in repo-level atlantis.yaml example
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs, size/s

#5741 docs: fix version availability for repo level branch key
  runatlantis.io/docs/repo-level-atlantis-yaml.md
Labels: docs, lgtm
