Repository runatlantis/atlantis, pull requests merged in 2025-03, with the labels that each got.

#5323 fix(apiController): Pass commitStatusUpdater to the APIController
  server/server.go
Labels: bug, go, lgtm

#5377 fix(workflows/testing-env-image): add `packages: write` for ghcr image push
  .github/workflows/testing-env-image.yml
Labels: github-actions, lgtm

#5371 chore: Add Struct `required` tags and Server Struct Validator
  server/controllers/api_controller.go
  server/controllers/events/events_controller.go
  server/controllers/github_app_controller.go
  server/controllers/jobs_controller.go
  server/controllers/locks_controller.go
  server/controllers/status_controller.go
  server/core/runtime/apply_step_runner.go
  server/events/command_runner.go
  server/events/drainer.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner.go
  server/server.go
  server/server_test.go
Labels: feature, go, provider/github, lgtm

#5329 docs: Update `Actions` tip in section on GitHub App usage
  runatlantis.io/docs/access-credentials.md
Labels: docs, lgtm

#5388 feat: Enable discard-approval-on-plan for gitlab
  runatlantis.io/docs/server-configuration.md
  server/events/command_runner_test.go
  server/events/plan_command_runner.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/gitea/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
Labels: feature, waiting-on-response, docs, provider/azuredevops, go, provider/bitbucket, provider/github, provider/gitlab, lgtm

#5405 chore(website): Update link checker to use Lychee (release-0.32)
  .github/workflows/website.yml
  .lycheeignore
Labels: github-actions, website, lgtm

#5408 docs: update gitlab links (release-0.32)
  runatlantis.io/contributing/events-controller.md
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/command-requirements.md
  runatlantis.io/guide/testing-locally.md
Labels: docs, go, lgtm

#5409 chore(deps): bump ca-certificates to `20241121-r1` (release-0.32)
  Dockerfile
Labels: build, dependencies, docker, lgtm

#5414 chore(deps): drop 0.31 release line support
  .github/renovate.json5
Labels: dependencies, lgtm

#5421 chore: Bump Debian from 12.8 to 12.9
  Dockerfile
Labels: build, docker, security, lgtm
