Repository runatlantis/atlantis, pull requests merged in 2025-01, with the labels that each got.

#5167 feat: Support project-level Terraform distribution selection
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-configuration.md
  server/controllers/events/events_controller_e2e_test.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/project.go
  server/core/config/valid/global_cfg.go
  server/core/config/valid/repo_cfg.go
  server/core/runtime/apply_step_runner.go
  server/core/runtime/apply_step_runner_test.go
  server/core/runtime/env_step_runner_test.go
  server/core/runtime/import_step_runner.go
  server/core/runtime/import_step_runner_test.go
  server/core/runtime/init_step_runner.go
  server/core/runtime/init_step_runner_test.go
  server/core/runtime/mocks/mock_async_tfexec.go
  server/core/runtime/models/shell_command_runner.go
  server/core/runtime/multienv_step_runner_test.go
  server/core/runtime/plan_step_runner.go
  server/core/runtime/plan_step_runner_test.go
  server/core/runtime/plan_type_step_runner_delegate_test.go
  server/core/runtime/policy_check_step_runner.go
  server/core/runtime/post_workflow_hook_runner_test.go
  server/core/runtime/pre_workflow_hook_runner_test.go
  server/core/runtime/run_step_runner.go
  server/core/runtime/run_step_runner_test.go
  server/core/runtime/runtime.go
  server/core/runtime/show_step_runner.go
  server/core/runtime/show_step_runner_test.go
  server/core/runtime/state_rm_step_runner.go
  server/core/runtime/state_rm_step_runner_test.go
  server/core/runtime/version_step_runner.go
  server/core/runtime/version_step_runner_test.go
  server/core/runtime/workspace_step_runner_delegate.go
  server/core/runtime/workspace_step_runner_delegate_test.go
  server/core/terraform/ansi/strip.go
  server/core/terraform/ansi/strip_test.go
  server/core/terraform/distribution.go
  server/core/terraform/tfclient/mocks/mock_terraform_client.go
  server/core/terraform/tfclient/terraform_client.go
  server/core/terraform/tfclient/terraform_client_internal_test.go
  server/core/terraform/tfclient/terraform_client_test.go
  server/events/command/project_context.go
  server/events/command/scope_tags.go
  server/events/mock_workingdir_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_context_builder.go
  server/events/project_command_context_builder_test.go
  server/events/project_command_runner_test.go
  server/server.go
  server/user_config.go
Labels: feature, build, docs, go, waiting-on-review, github-actions, lgtm

#5220 chore(renovate): only support most two recent releases 0.31 and 0.32
  .github/renovate.json5
Labels: dependencies, lgtm

#5235 chore(deps): bump ca-certificates to `20241121-r1`
  Dockerfile
Labels: build, docker

#5168 feat: hide successful policy check results when --quiet-policy-checks is set with multiple projects
  server/controllers/events/events_controller_e2e_test.go
  server/controllers/events/testdata/test-repos/policy-checks-multi-projects/exp-output-auto-policy-check-quiet.txt
  server/events/command_runner_test.go
  server/events/markdown_renderer.go
  server/events/markdown_renderer_test.go
  server/events/templates/multi_project_policy.tmpl
  server/events/templates/multi_project_policy_unsuccessful.tmpl
  server/server.go
Labels: feature, waiting-on-response, go, lgtm

#5253 chore: Fix build CI mismatch
  .github/workflows/atlantis-image.yml
Labels: docs, github-actions, lgtm

#5245 chore: Split up buildAllCommandsByCfg for readability and modularity
  server/events/project_command_builder.go
Labels: build, refactoring, go, lgtm

#5255 chore: Clarify logs in determining merged project configs
  server/events/project_command_builder.go
Labels: refactoring, go, lgtm

#5221 docs: github emu mention on hiding prev comments
  runatlantis.io/docs/server-configuration.md
Labels: docs, lgtm

#5257 fix: ensure multi-image builds succeed
  .github/workflows/atlantis-image.yml
Labels: github-actions, lgtm

#5244 feat: Trim backticks from MR comments (for Gitlab)
  server/events/comment_parser.go
  server/events/comment_parser_test.go
Labels: waiting-on-response, go, provider/gitlab, lgtm

#5226 feat: Add rate limit handling for GitHub client
  go.mod
  go.sum
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: feature, dependencies, go, waiting-on-review, provider/github, lgtm

#4845 chore: Add test to make sure flags are up to date and sorted
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
Labels: build, waiting-on-response, docs, go, github-actions

#5233 feat: add http webhook
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/.vitepress/sidebars.ts
  runatlantis.io/docs/sending-notifications-via-webhooks.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/using-slack-hooks.md
  server/events/project_command_runner.go
  server/events/webhooks/http.go
  server/events/webhooks/http_test.go
  server/events/webhooks/webhooks.go
  server/events/webhooks/webhooks_test.go
  server/server.go
  server/user_config.go
  server/user_config_test.go
Labels: feature, docs, go, waiting-on-review, website, lgtm

#5266 chore(deps): bump vite to 5.4.12
  .github/workflows/website.yml
  package-lock.json
  package.json
Labels: dependencies, github-actions, website, lgtm

#5267 feat: Add ignore path to autodiscover using glob
  go.mod
  go.sum
  runatlantis.io/docs/repo-level-atlantis-yaml.md
  runatlantis.io/docs/server-side-repo-config.md
  server/core/config/raw/autodiscover.go
  server/core/config/raw/autodiscover_test.go
  server/core/config/raw/repo_cfg_test.go
  server/core/config/valid/autodiscover.go
  server/core/config/valid/repo_cfg.go
  server/core/config/valid/repo_cfg_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_test.go
Labels: feature, docs, dependencies, go, lgtm

#5272 chore: Simplify use of the doublestar Match for ignore paths
  server/core/config/valid/repo_cfg.go
  server/core/config/valid/repo_cfg_test.go
  server/events/project_command_builder.go
Labels: refactoring, go, lgtm

#4495 feat: Enable `hide-prev-plan-comments` Feature for BitBucket Cloud
  runatlantis.io/docs/access-credentials.md
  runatlantis.io/docs/server-configuration.md
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketcloud/client_test.go
  server/events/vcs/bitbucketcloud/models.go
  server/events/vcs/bitbucketcloud/testdata/comments.json
  server/events/vcs/bitbucketcloud/testdata/user.json
Labels: build, waiting-on-response, docs, go, provider/bitbucket, lgtm

#5156 fix: Return correct status when using custom policy
  server/core/runtime/run_step_runner.go
  server/core/runtime/run_step_runner_test.go
Labels: bug, waiting-on-response, go, lgtm

#4001 feat: add support for GitLab groups
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/server-configuration.md
  server/core/config/valid/policies.go
  server/core/config/valid/policies_test.go
  server/events/command/team_allowlist_checker.go
  server/events/command_runner.go
  server/events/command_runner_test.go
  server/events/external_team_allowlist_checker.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/vcs/azuredevops_client.go
  server/events/vcs/bitbucketcloud/client.go
  server/events/vcs/bitbucketserver/client.go
  server/events/vcs/client.go
  server/events/vcs/gitea/client.go
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
  server/events/vcs/gitlab_client.go
  server/events/vcs/gitlab_client_test.go
  server/events/vcs/mocks/mock_client.go
  server/events/vcs/not_configured_vcs_client.go
  server/events/vcs/proxy.go
  server/events/vcs/testdata/gitlab-group-membership-success.json
  server/events/vcs/testdata/gitlab-user-success.json
  server/server.go
  server/user_config.go
Labels: waiting-on-response, docs, provider/azuredevops, go, waiting-on-review, provider/bitbucket, provider/github, provider/gitlab, lgtm

#4275 feat: BitBucket Cloud: add support for webhook secrets
  cmd/server.go
  cmd/server_test.go
  runatlantis.io/docs/deployment.md
  runatlantis.io/docs/security.md
  runatlantis.io/docs/server-configuration.md
  runatlantis.io/docs/webhook-secrets.md
  runatlantis.io/guide/testing-locally.md
  server/controllers/events/events_controller.go
  server/events/vcs/bitbucketcloud/request_validation.go
  server/events/vcs/bitbucketcloud/request_validation_test.go
Labels: waiting-on-response, docs, go, provider/bitbucket, security, lgtm

#5274 chore: Go mod tidy
  go.mod
Labels: dependencies, go, lgtm

#5277 chore: Revert "chore: Fix build CI mismatch"
  .github/workflows/atlantis-image.yml
Labels: build, github-actions, lgtm

#5270 chore: Remove some references to pkg/errors
  server/core/config/parser_validator.go
  server/core/config/parser_validator_test.go
  server/core/config/raw/autodiscover.go
  server/core/config/raw/global_cfg.go
  server/core/config/raw/project.go
  server/core/config/raw/raw.go
  server/core/config/raw/raw_test.go
Labels: refactoring, go, lgtm
