Repository runatlantis/atlantis, pull requests merged in 2025-09, with the labels that each got.

#5759 docs: Update enforcement contacts in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: docs, size/xs, lgtm

#5760 fix: update Alpine package versions to fix Docker build failures
  Dockerfile
Labels: build, docker, size/s, lgtm

#5761 fix: backport Alpine and Debian package version fixes to release-0.35
  Dockerfile
Labels: build, docker, size/s, lgtm

#5762 fix: backport Alpine and Debian package version fixes to release-0.34
  .github/workflows/atlantis-image.yml
  Dockerfile
Labels: build, docker, github-actions, size/s, lgtm

#5713 fix: clear pending VCS status when silence flags enabled and no projects found
  server/controllers/api_controller.go
  server/events/command_runner.go
  server/events/plan_command_runner.go
  server/events/plan_command_runner_test.go
  server/server.go
Labels: bug, go, size/s, lgtm

#5775 Update MAINTAINERS.md
  MAINTAINERS.md
Labels: docs, lgtm

#5669 fix: Fix crashes
  server/jobs/project_command_output_handler.go
  server/jobs/project_command_output_handler_test.go
Labels: bug, build, docs, dependencies, go, github-actions, lgtm
