Repository runatlantis/atlantis, pull requests merged in 2025-04, with the labels that each got.

#5486 ci(website): use .node-version file
  .github/workflows/website.yml
Labels: github-actions, website, lgtm

#5418 chore: update gitlab repo ref
  scripts/e2e.sh
Labels: provider/gitlab, lgtm

#5487 ci(renovate): security:openssf-scorecard
  .github/renovate.json5
Labels: security

#5526 chore(deps): update vite
  package-lock.json
Labels: dependencies, website, lgtm

#5510 fix: only allow team slug support in `--gh-team-allowlist` by dropping support for ambiguous team names
  runatlantis.io/docs/server-configuration.md
  server/events/vcs/github_client.go
  server/events/vcs/github_client_test.go
Labels: docs, go, provider/github, security, lgtm

#5468 ci(renovate): ignore server/controllers/events/testdata
  .github/renovate.json5
  server/controllers/events/testdata/test-repos/state-rm-workspace/dir1/versions.tf
Labels: dependencies, lgtm

#5534 ci(renovate): only update node deps on main branch
  .github/renovate.json5
Labels: dependencies, lgtm

#5532 ci(release): add sections per provider
  .github/release.yml
Labels: github-actions, lgtm

#5531 ci(release): separate section for docs and deps
  .github/release.yml
Labels: github-actions, lgtm

#5505 ci(website): top level perms
  .github/workflows/website.yml
Labels: github-actions, website, lgtm

#5530 ci(release): separate section for security
  .github/release.yml
Labels: github-actions, lgtm

#5535 ci(renovate): replace hardcoded branches with regex
  .github/renovate.json5
Labels: lgtm

#5264 fix: parallel plan and apply also in a single workspace (rebased)
  server/controllers/api_controller.go
  server/events/github_app_working_dir.go
  server/events/github_app_working_dir_test.go
  server/events/mock_workingdir_test.go
  server/events/mocks/mock_event_parsing.go
  server/events/mocks/mock_gitlab_merge_request_getter.go
  server/events/mocks/mock_working_dir.go
  server/events/mocks/mock_working_dir_locker.go
  server/events/post_workflow_hooks_command_runner.go
  server/events/post_workflow_hooks_command_runner_test.go
  server/events/pre_workflow_hooks_command_runner.go
  server/events/pre_workflow_hooks_command_runner_test.go
  server/events/project_command_builder.go
  server/events/project_command_builder_internal_test.go
  server/events/project_command_builder_test.go
  server/events/project_command_runner.go
  server/events/project_command_runner_test.go
  server/events/working_dir.go
  server/events/working_dir_locker.go
  server/events/working_dir_locker_test.go
  server/events/working_dir_test.go
Labels: feature, go, waiting-on-review, provider/github, provider/gitlab, lgtm

#5545 ci(codeowners): add app/renovate-approve
  CODEOWNERS
Labels: lgtm
